.about {
  padding: {
    left: 43px;
    right: 42px;
  }
  &#{__caption} {
    margin-top: 50px;
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: 0;
    //line-height: 100%;
  }
  &#{__flexbox} {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 18px;
    margin-bottom: 60px;
    @include media("<phablet") {
      flex-flow: column wrap;
    }
    //&:first-child {
    //    padding-right: 15px;
    //}
  }
  &#{__item} {
    line-height: 23px;
    font-size: 16px;
    text-align: left;

    //padding-right: 15px;
    @include media("<phablet") {
      padding-right: 0;
      padding-bottom: 15px;
    }
    &#{--left} {
      padding-right: 15px;
    }
  }
}