.benefits {
  background-color: #F5F5F5;
  position: relative;

  &#{__caption} {
    font-size: 24px;
    font-weight: bold;
    color: black;
    line-height: 28px;
    //padding-top: 40px;
    text-align: center;
    margin: 40px auto 30px;
  }
  &#{__flexbox} {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    //max-width: 600px;
    margin: 30px auto;
    @include media(">phone") {
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
    }
    @include media(">phablet") {
      flex-flow: row nowrap;
    }
  }
  &#{__item} {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    //max-width: 130px;
    text-align: center;
    min-height: 140px;
    flex-basis: 50%;
    div {
      min-height: 80px;
      max-width: 130px;
    }
  ;
    @include media(">phablet") {
      flex-basis: auto;
    }
    //padding-top: 32px;
  }
  &#{__sub-item} {
    align-self: center;
    font-size: 14px;
    line-height: 16px;
  }
  .disk {
    position: absolute;
    left: 50%;
    z-index: 10;
    //cursor: pointer;
    &#{--top} {
      top: 0;
      //transform: translateY(-50%);
      //transform: translateX(-50%);
      transform: translate(-50%, -50%);
    }
    &#{--bottom} {
      bottom: 0;
      //transform: translateY(50%);
      //transform: translateX(-50%);
      transform: translate(-50%, 50%);
    }
  }
}








