.categories {
    width: 100%;
    margin-bottom: 50px;
    //margin-top: 60px;
    &#{__header} {
        margin: 0 auto 30px;
        //margin-bottom: 30px;
        text-align: center;
        max-width: 592px;
    }
    &#{__caption} {
         line-height: 100%;
        letter-spacing: 0;
        font-size: 24px; // padding-bottom: 13px;
        font-weight: bold;
        color: #262626;
        line-height: 28px;
    }
    &#{__flexbox} {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        // padding: {
        //     left: 40px;
        //     right: 40px;
        // }
        @include media("<phone") {
            flex-flow: column wrap;
            padding: 0;
        }
    }
    &#{__item} {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 3px;
        box-shadow: 0px 4px 10px  rgba(0, 0, 0, 0.15);
        height: 190px;
        width: 160px;
        margin-top: 10px;
        color: #000;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        //transition: background 10s ease;
        //background: linear-gradient(to top right, rgba($dark, 0), rgba($primary, 0));
        background: white;
        &:before {
            content: " ";
            position: absolute;
            width: 160px;
            height: 190px;
            background: linear-gradient(to top right, rgba($dark, 1), rgba($primary, 1));
            z-index: -1;
            border-radius: 4px;
        }
        //opacity: 0;
        //& * {
        //    opacity: 1;
        //}
        &, & * {
            transition: all .3s ease;
        }
        path {
            fill:black;
            //transition: all 0.3s;
        }
        &:hover {
            //background: linear-gradient(to top right, rgba($dark, 1), rgba($primary, 1));
            //opacity: 1;
            background: transparent;
        }
        &:hover  path, &:hover p {
            color: white;
            fill: white;
        }
    }
}