.contacts {
  max-width: 980px;
  margin: 60px auto 40px;
  padding: 0;
  @include media(">phablet") {
    padding: {
      left: 20px;
      right: 20px;
    }
  }
  &#{__success} {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    padding: 20px;
    width: 100%;
    display: none;
    color: white;
    text-align: center;
    &#{--show} {
      display: block;
    }
  }
  &#{__header} {
    // padding-top: 60px;
    color: #000000;
    margin: 0 auto;
  }
  &#{__caption} {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
  }
  &#{__text} {
    max-width: 400px;
    font-size: 14px;
    line-height: 16px;
    //margin-top: 10px;
    text-align: center;
    margin: 10px auto 0;
  }
  .frame {
    padding: 0;
    @include media(">tablet-small") {
      padding: 30px 35px;
    }
  }
  &#{__frame} {
    text-align: center;
    margin: 43px 0 42px;
    //padding-top: 43px;
    width: 100%;
    //padding-bottom: 30px;
    line-height: 100%;
    min-width: 182px;
    &:last-child {
      margin-bottom: 31px;
    }
    @include media(">tablet-small") {
      &:not(:last-child) {
        margin: 0 0 28px;
      }
      &:last-child {
        margin: 0;
      }
      //padding: 20px 30px;
      text-align: left;
    }
  }
  &#{__frame-icon} {
    @include media(">tablet-small") {
      vertical-align: top;
    }
  }
  &#{__frame-header} {
    text-align: center;
    @include media(">tablet-small") {
      display: inline-block;
      text-align: left;
      padding-left: 30px;
    }
  }
  &#{__frame-caption} {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding: {
      top: 20px;
      bottom: 6px;
    }
    color: #FFFFFF;
    @include media(">tablet-small") {
      padding-top: 0;
    }
  }
  &#{__frame-text} {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
  }
  &#{-flexbox} {
    display: flex;
    flex-flow: column nowrap;
    //margin-top: 30px;
    max-width: 700px;
    margin: 30px auto 0;
    box-shadow: 20px 10px 50px rgba(0, 0, 0, 0.2);
    @include media(">tablet-small") {
      flex-flow: row-reverse nowrap;
      justify-content: center;
      align-items: center;

      &#{__item} {
        &#{--large} {
          flex-grow: 2;
          align-self: center;
        }
      }

    }

  }
  &#{__input} {
    padding: 11px;
    border: 1px solid #C4C4C4;
    width: 100%;
    height: 100%;
    resize: none;
    font-family: 'Roboto', 'Open Sans';
    font-size: 16px;
  }
  .flexbox {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 30px;
    justify-content: space-between;
    @include media(">tablet-small") {
      flex-flow: row nowrap;
    }
  }
  .background {
    &#{--primary} {
      background: linear-gradient(to top right, $dark, $primary);
    }
  }
  .form {
    &#{__item} {
      width: 100%;
      padding: 0 0;
      text-align: center;
      margin: 10px 0 0;
      font-family: 'Roboto', 'Open Sans';
      font-size: 16px;
      &#{--area} {
        padding: 0 30px;
        height: 90px;
      }
      &#{--input} {
        @include media(">tablet-small") {
          display: inline-block;
          width: 48%;
          //padding-right: 0;
          //margin: 10px 0;
        }
      }
      &#{--error} {
        border-color: red;
      }
    }
  }
  .btn {
    text-transform: uppercase;
    width: 147px;
    height: 40px;
    margin: 20px auto 25px;
    text-align: center;
    border: none;
    font-size: 14px;
    line-height: 16px;
    transition: all 0.3s;
    @include media(">tablet-small") {
      margin: 0;
    }
    &:hover {
      cursor: pointer;
      background-color: darken(#ffffff, 20%);
    }
    &:active {
      background-color: darken(#ffffff, 20%);
    }
    &#{--primary} {
      background-color: $primary;
      color: #FFFFFF;
      &:hover {
        background-color: darken($primary, 10%);
      }
      &:active {
        background-color: darken($primary, 20%);
      }
    }
  }
}