.footer {
  background-color: #523125;
  background-image:
          /* Top jagged */
          linear-gradient(
                          135deg,
                          rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%
          ),
          linear-gradient(
                          -135deg,
                          rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%
          );
          //),
          //  /* Bottom jagged */
          //linear-gradient(
          //                45deg,
          //                rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%
          //),
          //linear-gradient(
          //                -45deg,
          //                rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%
          //);
  background-position:
          /* Top jagged */
          top center, top center,
            /* Bottom jagged */
          bottom center, bottom center;
  background-size:
          /* Top + bottom jagged */
          0.75rem 0.75rem, 0.75rem 0.75rem,
          0.75rem 0.75rem, 0.75rem 0.75rem;
  background-repeat: repeat-x;

  &#{__flexbox} {
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &#{__phone} {
    font-size: 20px;
    line-height: 26px;
    color: white;
    margin: 10px;
    &:hover {
      color: $primary;
    }
    @include media(">phone") {
      font-size: 36px;
      line-height: 46px;
    }
  }
  &#{__logo} {
    color: brown;
  }
}