.header {
    background-color: #F4E1D0;
    &#{__container} {
        float: right;
        //width: calc(100% - 160px);
        display: flex;
        width: calc(100% - 25px);
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        @include media(">phone-wide") {
            width: calc(100% - 160px);
        }
        @include media(">tablet") {
            flex-flow: row wrap;
        }

    }
    &#{__nav} {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;
        padding: 10px;
        @include media(">tablet") {
            justify-content: space-around;
            align-items: center;
            flex-flow: row wrap;
            display: flex;
        }
    }
    &#{__holder} {
        align-self: flex-start;
        @include media(">tablet") {
            align-self: unset;
        }
    }
    &#{__cart} {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        align-self: flex-end;
        @include media(">tablet") {
            align-self: unset;
        }
    }
    &#{__svg} {
        display: inline;
        vertical-align: middle;
    }
    &#{__description} {
        display: none;
        @include media(">tablet") {
            display: inline;
        }
    }
    &#{__item} {
        display: none;
        @include media(">tablet") {
            display: block;
        }
    }
    &#{__link} {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16px;
        margin: 0 10px 0 0;
        //padding-right: 10px;
        //margin: 0;
        text-decoration: underline;
        &#{--primary} {
            color: #A82B13;

        }
        &#{--cart} {
            text-decoration: none;
            padding: 0;
            cursor: pointer;
            display: inline-block;
            height: 35px;
            margin: 7px 10px;
            line-height: 30px;
            &:hover {
                svg {
                    fill: $link-color;
                }
            }
        }
    }

}
.responsive {
    display: block;
}
.burger {
    &#{__btn} {
        background: transparent;
        border: 3px solid #AA3126;
        width: 35px;
        height: 35px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s all;
        cursor: pointer;
        float: right;
        margin: 7px 10px;
        @include media(">tablet") {
            display: none;
        }
        &.open {
            span {
                &:nth-child(1), &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    transform: rotate(45deg);
                    left: 7px;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    left: 7px;
                }
            }
        }
        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 50%;

            border-radius: 9px;
            opacity: 1;
            left: 50%;
            transform: rotate(0deg) translateX(-50%);
            transition: .25s ease-in-out;
            &:nth-child(1) {
                top: 7px;
            }
            &:nth-child(2), &:nth-child(3) {
                top: 14px;
            }
            &:nth-child(4) {
                top: 21px;
            }
        }
        &#{--primary} {
            border-color: #AA3126;
            span {
                background: #AA3126;
            }

        }
        &#{--secondary} {
            border-color: #F4E1D0;
            span {
                background: #F4E1D0;
            }

        }
    }
}
