.intro {
  background-image: url("../img/intro__background.png");
  height: 380px;
  background-position: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  @include media(">phone-wide") {
    //justify-content: center;
    align-items: center;
  }
  &#{__item} {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    @include media(">phone-wide") {
      margin-top: 100px;
    }

  }
  &#{__caption} {
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    color: black;
    max-width: 480px;
    margin-bottom: 16px;
    text-align: center;
    //line-height: 120%;
  }
  &#{__text} {
    max-width: 370px;
    //line-height: 120%;
    font-size: 14px;
    font-style: italic;
    color: black;
    //margin-top: 18px;
    margin-bottom: 18px;
    text-align: center;
    line-height: 20px;
    &#{--light} {
      color: #ffffff;
    }
  }

  &#{__spn} {
    border-radius: 5px;
    padding: 6px;
    &#{--primary} {
      background: linear-gradient(240.27deg, rgba(236, 142, 81, 0.8) -11.23%, rgba(144, 34, 15, 0.8) 89.32%), rgba(236, 142, 81, 0.8);
    }
  }
  &#{__icon} {
    height: 50px;
    width: 50px;
    padding: 10px;
    background-color: #A82B13;
    border-radius: 50%;
    //position: absolute;
    //right: 40px;
    transition: all .3s;
    //bottom: 30px;
    border: 3px solid rgba(168, 44, 19, 0.3);
    @include media(">phone-wide") {
      align-self: flex-end;
    }
    &:hover {
      cursor: pointer;
      background-color: #fff;
      .phone {
        fill: #A82B13;
      }
    }
    svg {
      transform: translate(-2px, -1px);
    }
    .phone {
      fill: #fff;
      transition: all .3s;
    }
  }
  .btn {

    width: 180px;
    height: 40px;
    margin: 0 auto;
    text-align: center;

    border: none;
    transition: all 0.3s;
    //opacity: 0.7;
    &#{__text} {
      opacity: 1;
      font-size: 16px;
      font-weight: bold;
      line-height: 19px;
      text-transform: uppercase;
    }
    &:hover {
      cursor: pointer;
      background-color: darken(#ffffff, 20%);
    }
    &:active {
      background-color: darken(#ffffff, 20%);
    }
    &#{--primary} {
      background: rgba($primary, .7);
      color: #FFFFFF;
      &:hover {
        background-color: darken($primary, 10%);
      }
      &:active {
        background-color: darken($primary, 20%);
      }
    }
  }
  .disk {
    position: absolute;
    left: 50%;
    z-index: 10;
    cursor: pointer;
    &#{--top} {
      top: -15px;
    }
    &#{--bottom} {
      bottom: -15px;
    }
  }
}