.navbar {
  position: relative;
  background: linear-gradient(to bottom, #A82B13, #90220F);
  &#{__container} {
    float: right;
    width: calc(100% - 25px);
    @include media(">phone-wide") {
      width: calc(100% - 160px);
    }

  }
  &#{__nav} {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;

    margin: 10px;
    //margin: 0;
    @include media(">tablet") {
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &#{__item} {
    display: none;
    @include media(">tablet") {
      display: block;
    }
  }
  &#{__link} {
    font-size: 16px;
    line-height: 19px;
    color: black;
    &#{--light} {
      color: white;
    }
  }
  &#{__badge} {
    position: absolute;
    width: 50px;
    height: auto;
    z-index: 10;
    top: 0;
    //transform: translateY(-15%);
    @include media(">phone-wide") {
      width: auto;
      height: auto;
      transform: translateY(-25%);
    }
  }
  &#{__logo} {
    width: 100%;
  }
  .line {
    position: absolute;
    width: 100%;
    left: 0;
    &#{__dashed} {
      border: 1px dashed;
    }
    &#{--top} {
      top: 3px;
    }
    &#{--bottom} {
      bottom: 3px;
    }
  }
}

.responsive {
  display: block;
}