.poster {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 60px;
    @include media("<phone") {
        padding: {
            left: 0;
            right: 0;
        }
    }
    &#{--wide} {
        padding: 0;
        margin: 0;
    }
    &#{__img} {
        position: absolute;
        //width: 100%;
        //height: auto;
        object-fit: cover;
        transition: all 1s ease;
        z-index: -1;
        //&:hover {
        //    transform: scale(1.2);
        //}
    }
    &#{__header} {
        margin: 0 auto 28px;
        //padding-bottom: 28px;
        text-align: center;
        //max-width: 592px;
        &#{--grid} {
            min-height: 200px;
            height: 100%;
            width: 100%;
            margin: 0;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            align-items: center;
            background-size: cover;
            background-repeat: no-repeat;
            //width: 100%;
            //height: auto;
            background-position: center;
            transition: all 1s ease;
            //&:nth-child(1) {
            //    background-image: url("../img/placeholder0.png");
            //    background-size: cover;
            //    background-repeat: no-repeat;
            //    width: 100%;
            //    height: auto;
            //}
            //&:nth-child(2) {
            //    background-image: url("../img/placeholder0.png");
            //    background-size: cover;
            //    background-repeat: no-repeat;
            //    width: 100%;
            //    height: auto;
            //}
        }
    }

    &#{__caption} {
        letter-spacing: 0;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
        color: #262626;
        &#{--grid} {
            margin-bottom: 17px;
            font-size: 14px;
            line-height: 19px;
        }
    }
    &#{__text} {
        line-height: 29px;
        letter-spacing: 0;
        font-size: 19px;
        color: #878787;
        &#{--light} {
            color: #ffffff;
        }
    }
    &#{__grid} {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        grid-gap: 0;
        height: 100%;

        .grid {
            &#{__item} {
                &:nth-child(1) .poster__header--grid {
                    //background-image: url("../img/placeholder0.png");
                    //background-size: cover;
                    //background-repeat: no-repeat;
                    //width: 100%;
                    //height: auto;
                }
            }
        }
        &#{--half} {
            grid-template-columns: auto auto;
            .grid {
                &#{__item} {
                    &:nth-child(1) .poster__header--grid{
                        //background-image: url("../img/placeholder1.png");
                        //background-size: cover;
                        //background-repeat: no-repeat;
                        //width: 100%;
                        //height: auto;
                    }
                    &:nth-child(2) .poster__header--grid{
                        //background-image: url("../img/placeholder2.png");
                        //background-size: cover;
                        //background-repeat: no-repeat;
                        //width: 100%;
                        //height: auto;
                        //background-position: center;
                    }
                    &:nth-child(3) .poster__header--grid{
                        //background-image: url("../img/placeholder3.png");
                        //background-size: cover;
                        //background-repeat: no-repeat;
                        //width: 100%;
                        //height: auto;
                        //background-position: center;
                    }
                    &:nth-child(4) .poster__header--grid{
                        //background-image: url("../img/placeholder4.png");
                        //background-size: cover;
                        //background-repeat: no-repeat;
                        //width: 100%;
                        //height: auto;
                        //background-position: center;
                    }
                }
            }
        }

        @include media("<phablet") {
            grid-template-columns: auto;
        }
        &#{--main} {
            @include media("<tablet") {
                grid-template-columns: auto;
            }
        }
        .grid {
            &#{__item} {
                display: flex;
                width: 100%;
                position: relative;
                height: 100%;
                min-height: 200px;
                background-position: center;
                align-items: flex-end;
                transition: all 1s ease;
                overflow: hidden;
                &#{--small} {
                    min-height: 200px;
                }
                &:hover .poster__img,
                &:focus .poster__img{
                    //background-size: 120%;
                    transform: scale(1.2);
                    //justify-content: center;
                    //margin: 0;
                    //z-index: -10;
                    //background-position: center center;
                    //width: 120%;
                }

                
            }
    
        }
    }

}