<section class="about container">
    <h3 class="about__caption">
        О тортах
    </h3>
    <div class="about__flexbox">
        <div class="about__item about__item--left">
            <p>
                    Вы только представьте себе восхищенные глаза вашей возлюбленной, когда она неожиданно обнаружит у себя на рабочем столе изысканный
                    праздничный десерт, приготовленный на День всех влюбленных 14 февраля или на 8 марта.
            </p>
            
        </div>
        <div class="about__item">
            <p>
                    Или, как будет веселиться и радоваться ваш ребенок, если ему на день рождения подарить, к примеру, фото торт с красочным
                    съедобным изображением всех сказочных персонажей из любимых им мультиков.
            </p>
            
        </div>
    </div>
</section>