<section class="benefits container">
    <div class="benefits__caption">
        Наши преимущества
    </div>
    <div class="benefits__flexbox">
        <div class="benefits__item">
            <div class="benefits__sub-item">
                <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.1662 23.3325H18.6662V1.16579C18.6657 0.5215 18.1429 -0.000435481 17.4986 2.01943e-06C17.1184 0.000293686 16.7622 0.18579 16.544 0.49729L0.21066 23.8306C-0.15859 24.3587 -0.0298165 25.0861 0.498246 25.4552C0.6941 25.5921 0.92714 25.6656 1.16616 25.6658H16.3328V29.1658C16.3328 29.8101 16.8552 30.3325 17.4995 30.3325C18.1438 30.3325 18.6662 29.8101 18.6662 29.1658V25.6658H22.1662C22.8105 25.6658 23.3328 25.1434 23.3328 24.4991C23.3328 23.8548 22.8105 23.3325 22.1662 23.3325ZM16.3328 23.3325H3.40616L16.3328 4.86646V23.3325Z"
                      transform="translate(46.6672 39.6675)" fill="black" />
                <path d="M22.1662 23.3325H18.6662V1.16579C18.6657 0.5215 18.1429 -0.000435481 17.4986 2.01943e-06C17.1184 0.000293686 16.7622 0.18579 16.544 0.49729L0.21066 23.8306C-0.15859 24.3587 -0.0298165 25.0861 0.498246 25.4552C0.6941 25.5921 0.92714 25.6656 1.16616 25.6658H16.3328V29.1658C16.3328 29.8101 16.8552 30.3325 17.4995 30.3325C18.1438 30.3325 18.6662 29.8101 18.6662 29.1658V25.6658H22.1662C22.8105 25.6658 23.3328 25.1434 23.3328 24.4991C23.3328 23.8548 22.8105 23.3325 22.1662 23.3325ZM16.3328 23.3325H3.40616L16.3328 4.86646V23.3325Z"
                      transform="translate(46.6672 39.6675)" fill="url(#paint0_linear)" />
                <path d="M17.5 28.002H3.68783L16.5293 12.8809C16.5585 12.8461 16.5858 12.81 16.611 12.7723C19.0269 9.19681 18.2222 4.35587 14.7793 1.75435C10.5932 -1.25346 4.76131 -0.298107 1.75365 3.88804C0.613083 5.47543 -0.000291563 7.38075 1.0397e-07 9.33535C1.0397e-07 9.97964 0.522375 10.502 1.16667 10.502C1.81096 10.502 2.33333 9.97964 2.33333 9.33535C2.3329 5.46931 5.46671 2.33506 9.3326 2.33462C10.7979 2.33447 12.2264 2.79414 13.4167 3.64902C15.8283 5.49687 16.3899 8.90004 14.7 11.4248L0.277668 28.4138C-0.13927 28.9052 -0.0788953 29.6413 0.412417 30.0583C0.623146 30.2371 0.890313 30.3352 1.16667 30.3353H17.5C18.1443 30.3353 18.6667 29.813 18.6667 29.1687C18.6667 28.5244 18.1443 28.002 17.5 28.002Z"
                      transform="translate(30.3333 39.6646)" fill="black" />
                <path d="M17.5 28.002H3.68783L16.5293 12.8809C16.5585 12.8461 16.5858 12.81 16.611 12.7723C19.0269 9.19681 18.2222 4.35587 14.7793 1.75435C10.5932 -1.25346 4.76131 -0.298107 1.75365 3.88804C0.613083 5.47543 -0.000291563 7.38075 1.0397e-07 9.33535C1.0397e-07 9.97964 0.522375 10.502 1.16667 10.502C1.81096 10.502 2.33333 9.97964 2.33333 9.33535C2.3329 5.46931 5.46671 2.33506 9.3326 2.33462C10.7979 2.33447 12.2264 2.79414 13.4167 3.64902C15.8283 5.49687 16.3899 8.90004 14.7 11.4248L0.277668 28.4138C-0.13927 28.9052 -0.0788953 29.6413 0.412417 30.0583C0.623146 30.2371 0.890313 30.3352 1.16667 30.3353H17.5C18.1443 30.3353 18.6667 29.813 18.6667 29.1687C18.6667 28.5244 18.1443 28.002 17.5 28.002Z"
                      transform="translate(30.3333 39.6646)" fill="url(#paint1_linear)" />
                <path d="M31.5257 61.8555C31.55 61.2116 31.0476 60.67 30.4038 60.6457C30.4036 60.6457 30.4035 60.6457 30.4033 60.6457C15.1827 60.0807 2.9664 47.8863 2.37417 32.6667H7C7.64429 32.6667 8.16667 32.1443 8.16667 31.5C8.16667 30.8557 7.64429 30.3333 7 30.3333H2.37417C2.95794 15.1406 15.1404 2.95852 30.3333 2.37533V5.83333C30.3333 6.47762 30.8557 7 31.5 7C32.1443 7 32.6667 6.47762 32.6667 5.83333V2.37533C47.6516 2.95487 59.7459 14.8207 60.6107 29.792L56.0607 25.242C55.5972 24.7943 54.8587 24.8071 54.411 25.2706C53.9744 25.7227 53.9744 26.4394 54.411 26.8917L60.9233 33.404C61.046 33.5525 61.2041 33.6675 61.383 33.7388C61.4286 33.7525 61.475 33.7639 61.5218 33.7727C61.6019 33.8015 61.6847 33.8215 61.7692 33.8322C61.7808 33.8322 61.7913 33.8322 61.803 33.8322C61.8147 33.8322 61.8252 33.8322 61.8357 33.8322C61.9245 33.8255 62.0123 33.8082 62.097 33.7808C62.145 33.775 62.1925 33.7661 62.2393 33.754C62.3973 33.6978 62.5411 33.6079 62.6605 33.4903L69.2615 26.8917C69.7091 26.4282 69.6964 25.6897 69.2329 25.242C68.7808 24.8054 68.0641 24.8054 67.6118 25.242L62.9487 29.9017C62.1152 13.179 48.3262 0.0409792 31.5828 0.0163333C31.5537 0.0151667 31.5292 0 31.5 0C31.4708 0 31.4463 0.0151667 31.4172 0.0163333C14.0849 0.0401042 0.0401042 14.0849 0.0163333 31.4172C0.0163333 31.4463 0 31.4708 0 31.5C0 31.5292 0.0151667 31.5537 0.0163333 31.5828C0.0453542 48.4874 13.4241 62.3493 30.317 62.9778H30.3602C30.9871 62.9777 31.5019 62.482 31.5257 61.8555Z"
                      fill="black" />
                <path d="M31.5257 61.8555C31.55 61.2116 31.0476 60.67 30.4038 60.6457C30.4036 60.6457 30.4035 60.6457 30.4033 60.6457C15.1827 60.0807 2.9664 47.8863 2.37417 32.6667H7C7.64429 32.6667 8.16667 32.1443 8.16667 31.5C8.16667 30.8557 7.64429 30.3333 7 30.3333H2.37417C2.95794 15.1406 15.1404 2.95852 30.3333 2.37533V5.83333C30.3333 6.47762 30.8557 7 31.5 7C32.1443 7 32.6667 6.47762 32.6667 5.83333V2.37533C47.6516 2.95487 59.7459 14.8207 60.6107 29.792L56.0607 25.242C55.5972 24.7943 54.8587 24.8071 54.411 25.2706C53.9744 25.7227 53.9744 26.4394 54.411 26.8917L60.9233 33.404C61.046 33.5525 61.2041 33.6675 61.383 33.7388C61.4286 33.7525 61.475 33.7639 61.5218 33.7727C61.6019 33.8015 61.6847 33.8215 61.7692 33.8322C61.7808 33.8322 61.7913 33.8322 61.803 33.8322C61.8147 33.8322 61.8252 33.8322 61.8357 33.8322C61.9245 33.8255 62.0123 33.8082 62.097 33.7808C62.145 33.775 62.1925 33.7661 62.2393 33.754C62.3973 33.6978 62.5411 33.6079 62.6605 33.4903L69.2615 26.8917C69.7091 26.4282 69.6964 25.6897 69.2329 25.242C68.7808 24.8054 68.0641 24.8054 67.6118 25.242L62.9487 29.9017C62.1152 13.179 48.3262 0.0409792 31.5828 0.0163333C31.5537 0.0151667 31.5292 0 31.5 0C31.4708 0 31.4463 0.0151667 31.4172 0.0163333C14.0849 0.0401042 0.0401042 14.0849 0.0163333 31.4172C0.0163333 31.4463 0 31.4708 0 31.5C0 31.5292 0.0151667 31.5537 0.0163333 31.5828C0.0453542 48.4874 13.4241 62.3493 30.317 62.9778H30.3602C30.9871 62.9777 31.5019 62.482 31.5257 61.8555Z"
                      fill="url(#paint2_linear)" />
                <path d="M25.076 0.341578C24.6204 -0.11386 23.8819 -0.11386 23.4263 0.341578L10.8893 12.8774C9.94211 12.4551 8.86018 12.4551 7.91314 12.8774L1.97714 6.94141C1.51368 6.49385 0.775031 6.50668 0.327469 6.97014C-0.109156 7.42223 -0.109156 8.139 0.327469 8.59108L6.2518 14.5154C5.41997 16.2567 6.1573 18.3427 7.8987 19.1743C9.23526 19.8128 10.8292 19.5391 11.8763 18.4914C12.9291 17.4475 13.2002 15.8492 12.5506 14.5166L25.076 1.99125C25.5314 1.53566 25.5314 0.797161 25.076 0.341578ZM10.2269 16.8403C10.2268 16.8404 10.2268 16.8404 10.2266 16.8406C9.76522 17.2817 9.03839 17.2817 8.57697 16.8406C8.12124 16.385 8.12124 15.6463 8.57668 15.1906C9.03226 14.7349 9.77091 14.7349 10.2266 15.1903C10.6824 15.6459 10.6824 16.3847 10.2269 16.8403Z"
                      transform="translate(22.0981 15.4843)" fill="black" />
                <path d="M25.076 0.341578C24.6204 -0.11386 23.8819 -0.11386 23.4263 0.341578L10.8893 12.8774C9.94211 12.4551 8.86018 12.4551 7.91314 12.8774L1.97714 6.94141C1.51368 6.49385 0.775031 6.50668 0.327469 6.97014C-0.109156 7.42223 -0.109156 8.139 0.327469 8.59108L6.2518 14.5154C5.41997 16.2567 6.1573 18.3427 7.8987 19.1743C9.23526 19.8128 10.8292 19.5391 11.8763 18.4914C12.9291 17.4475 13.2002 15.8492 12.5506 14.5166L25.076 1.99125C25.5314 1.53566 25.5314 0.797161 25.076 0.341578ZM10.2269 16.8403C10.2268 16.8404 10.2268 16.8404 10.2266 16.8406C9.76522 17.2817 9.03839 17.2817 8.57697 16.8406C8.12124 16.385 8.12124 15.6463 8.57668 15.1906C9.03226 14.7349 9.77091 14.7349 10.2266 15.1903C10.6824 15.6459 10.6824 16.3847 10.2269 16.8403Z"
                      transform="translate(22.0981 15.4843)" fill="url(#paint3_linear)" />
                <defs>
                    <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(43.8657 7.43145) scale(42.2247 54.8917) rotate(119.823)">
                        <stop stop-color="#EC8E51" />
                        <stop offset="1" stop-color="#90220F" />
                    </linearGradient>
                    <linearGradient id="paint1_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(35.0933 7.43216) scale(33.7805 54.8969) rotate(119.823)">
                        <stop stop-color="#EC8E51" />
                        <stop offset="1" stop-color="#90220F" />
                    </linearGradient>
                    <linearGradient id="paint2_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(130.827 15.4296) scale(125.933 113.969) rotate(119.823)">
                        <stop stop-color="#EC8E51" />
                        <stop offset="1" stop-color="#90220F" />
                    </linearGradient>
                    <linearGradient id="paint3_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(47.785 4.78134) scale(45.9973 35.3169) rotate(119.823)">
                        <stop stop-color="#EC8E51" />
                        <stop offset="1" stop-color="#90220F" />
                    </linearGradient>
                </defs>
            </svg>
            </div>
            <div class="benefits__sub-item">
                Круглосуточная доставка
            </div>

        </div>
        <div class="benefits__item">
            <div class="benefits__sub-item">
                <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="35" cy="35" r="34" stroke="url(#paint0_linear)" stroke-width="2" />
                    <path d="M11.1135 31.7899H8.529V3.53221L0 6.69828V4.28604L10.6828 0.323068H11.1135V31.7899Z" transform="translate(13.4246 19.1781)"
                          fill="black" />
                    <path d="M11.1135 31.7899H8.529V3.53221L0 6.69828V4.28604L10.6828 0.323068H11.1135V31.7899Z" transform="translate(13.4246 19.1781)"
                          fill="url(#paint1_linear)" />
                    <path d="M42.4942 18.7164C42.4942 23.1389 41.683 26.4988 40.0605 28.7962C38.4379 31.0792 36.0472 32.2207 32.8884 32.2207C29.7869 32.2207 27.4105 31.1007 25.7593 28.8608C24.1081 26.6065 23.2609 23.3327 23.2178 19.0395V13.4181C23.2178 9.01002 24.0363 5.67164 25.6732 3.40299C27.31 1.13433 29.7007 0 32.8453 0C35.9467 0 38.3159 1.09843 39.9528 3.2953C41.5897 5.4778 42.4368 8.70131 42.4942 12.9658V18.7164ZM39.9097 13.095C39.9097 9.50539 39.321 6.79161 38.1436 4.95371C36.9805 3.11581 35.2144 2.19686 32.8453 2.19686C30.5192 2.19686 28.7674 3.09428 27.59 4.8891C26.4126 6.68392 25.8096 9.33308 25.7808 12.8366V18.9964C25.7808 22.5717 26.3839 25.307 27.59 27.2023C28.8105 29.0977 30.5766 30.0453 32.8884 30.0453C35.1857 30.0453 36.9231 29.1192 38.1005 27.267C39.2923 25.4147 39.8953 22.7009 39.9097 19.1256V13.095Z"
                          transform="translate(13.4246 19.1781)" fill="black" />
                    <path d="M42.4942 18.7164C42.4942 23.1389 41.683 26.4988 40.0605 28.7962C38.4379 31.0792 36.0472 32.2207 32.8884 32.2207C29.7869 32.2207 27.4105 31.1007 25.7593 28.8608C24.1081 26.6065 23.2609 23.3327 23.2178 19.0395V13.4181C23.2178 9.01002 24.0363 5.67164 25.6732 3.40299C27.31 1.13433 29.7007 0 32.8453 0C35.9467 0 38.3159 1.09843 39.9528 3.2953C41.5897 5.4778 42.4368 8.70131 42.4942 12.9658V18.7164ZM39.9097 13.095C39.9097 9.50539 39.321 6.79161 38.1436 4.95371C36.9805 3.11581 35.2144 2.19686 32.8453 2.19686C30.5192 2.19686 28.7674 3.09428 27.59 4.8891C26.4126 6.68392 25.8096 9.33308 25.7808 12.8366V18.9964C25.7808 22.5717 26.3839 25.307 27.59 27.2023C28.8105 29.0977 30.5766 30.0453 32.8884 30.0453C35.1857 30.0453 36.9231 29.1192 38.1005 27.267C39.2923 25.4147 39.8953 22.7009 39.9097 19.1256V13.095Z"
                          transform="translate(13.4246 19.1781)" fill="url(#paint2_linear)" />
                    <defs>
                        <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(70) scale(70) rotate(90)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint1_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(79.8892 7.89407) scale(76.9005 58.3087) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint2_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(79.8892 7.89407) scale(76.9005 58.3087) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                    </defs>
                </svg>
            </div>


            <div class="benefits__sub-item">
                Работаем 10 лет
            </div>
        </div>
        <div class="benefits__item">
            <div class="benefits__sub-item">
                <svg width="88" height="56" viewBox="0 0 88 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M81.8398 23.7403L79.5609 14.5702C80.184 14.4371 80.6515 13.881 80.6515 13.2148V11.7363C80.6515 8.52606 78.0553 5.91447 74.8644 5.91447H64.4845V2.86473C64.4845 1.28505 63.2072 -6.12099e-07 61.6369 -6.12099e-07H8.72645C7.1562 -6.12099e-07 5.87882 1.28505 5.87882 2.86473V28.0003C5.87882 28.7657 6.49568 29.3865 7.25675 29.3865C8.01764 29.3865 8.63467 28.7659 8.63467 28.0003V2.86473C8.63467 2.81389 8.67575 2.7724 8.72645 2.7724H61.6367C61.6874 2.7724 61.7285 2.81407 61.7285 2.86473V28.0006C61.7285 28.7661 62.3454 29.3868 63.1064 29.3868C63.8673 29.3868 64.4844 28.7662 64.4844 28.0006V26.4292H80.7384C80.7398 26.4292 80.7408 26.4296 80.7421 26.4296C80.7434 26.4296 80.7446 26.4294 80.7458 26.4294C82.7459 26.4308 84.4442 27.7514 85.0276 29.5713H80.7431C79.9822 29.5713 79.3652 30.1919 79.3652 30.9575V33.9146C79.3652 36.3095 81.3018 38.2578 83.6825 38.2578H85.2441V44.3568H81.6413C80.4578 40.9187 77.2092 38.4425 73.3944 38.4425C69.5796 38.4425 66.3308 40.9187 65.1475 44.3568H64.484V33.9144C64.484 33.1489 63.8672 32.5282 63.1061 32.5282C62.3452 32.5282 61.7282 33.1488 61.7282 33.9144V44.3564H33.1405C31.957 40.9183 28.7083 38.4421 24.8936 38.4421C21.0788 38.4421 17.83 40.9183 16.6466 44.3564H8.72645C8.67575 44.3564 8.63467 44.3148 8.63467 44.2641V41.2145H14.6054C15.3663 41.2145 15.9834 40.594 15.9834 39.8283C15.9834 39.0627 15.3665 38.4421 14.6054 38.4421H7.25778C7.25744 38.4421 7.25726 38.4421 7.25692 38.4421C7.25658 38.4421 7.2564 38.4421 7.25606 38.4421H1.37792C0.617032 38.4421 0 39.0627 0 39.8283C0 40.594 0.616861 41.2145 1.37792 41.2145H5.879V44.2641C5.879 45.8438 7.15637 47.1288 8.72663 47.1288H16.1695C16.1692 47.1596 16.1671 47.1904 16.1671 47.2211C16.1671 52.0617 20.0819 56 24.8936 56C29.7052 56 33.62 52.0617 33.62 47.2211C33.62 47.1904 33.618 47.1596 33.6176 47.1288H64.6703C64.67 47.1596 64.6679 47.1904 64.6679 47.2211C64.6679 52.0617 68.5827 56 73.3944 56C78.206 56 82.1208 52.0617 82.1208 47.2211C82.1208 47.1904 82.1188 47.1596 82.1184 47.1288H86.6221C87.383 47.1288 88 46.5083 88 45.7426V30.9572C88.0002 27.3067 85.3229 24.2738 81.8398 23.7403ZM64.4845 8.68669H74.8644C76.5359 8.68669 77.8958 10.0547 77.8958 11.7363V11.8286H64.4845V8.68669ZM64.4845 23.657V14.6008H76.7281L78.9786 23.657H64.4845ZM24.8936 53.2281C21.6013 53.2281 18.9228 50.5337 18.9228 47.2215C18.9228 43.9093 21.6013 41.2149 24.8936 41.2149C28.1858 41.2149 30.8643 43.9093 30.8643 47.2215C30.8643 50.5337 28.1858 53.2281 24.8936 53.2281ZM73.3947 53.2281C70.1025 53.2281 67.4239 50.5337 67.4239 47.2215C67.4239 43.9093 70.1025 41.2149 73.3947 41.2149C76.687 41.2149 79.3655 43.9093 79.3655 47.2215C79.3655 50.5337 76.687 53.2281 73.3947 53.2281ZM85.2445 35.4854H83.6828C82.8217 35.4854 82.1212 34.7807 82.1212 33.9144V32.3433H85.2443V35.4854H85.2445Z"
                          fill="black" />
                    <path d="M81.8398 23.7403L79.5609 14.5702C80.184 14.4371 80.6515 13.881 80.6515 13.2148V11.7363C80.6515 8.52606 78.0553 5.91447 74.8644 5.91447H64.4845V2.86473C64.4845 1.28505 63.2072 -6.12099e-07 61.6369 -6.12099e-07H8.72645C7.1562 -6.12099e-07 5.87882 1.28505 5.87882 2.86473V28.0003C5.87882 28.7657 6.49568 29.3865 7.25675 29.3865C8.01764 29.3865 8.63467 28.7659 8.63467 28.0003V2.86473C8.63467 2.81389 8.67575 2.7724 8.72645 2.7724H61.6367C61.6874 2.7724 61.7285 2.81407 61.7285 2.86473V28.0006C61.7285 28.7661 62.3454 29.3868 63.1064 29.3868C63.8673 29.3868 64.4844 28.7662 64.4844 28.0006V26.4292H80.7384C80.7398 26.4292 80.7408 26.4296 80.7421 26.4296C80.7434 26.4296 80.7446 26.4294 80.7458 26.4294C82.7459 26.4308 84.4442 27.7514 85.0276 29.5713H80.7431C79.9822 29.5713 79.3652 30.1919 79.3652 30.9575V33.9146C79.3652 36.3095 81.3018 38.2578 83.6825 38.2578H85.2441V44.3568H81.6413C80.4578 40.9187 77.2092 38.4425 73.3944 38.4425C69.5796 38.4425 66.3308 40.9187 65.1475 44.3568H64.484V33.9144C64.484 33.1489 63.8672 32.5282 63.1061 32.5282C62.3452 32.5282 61.7282 33.1488 61.7282 33.9144V44.3564H33.1405C31.957 40.9183 28.7083 38.4421 24.8936 38.4421C21.0788 38.4421 17.83 40.9183 16.6466 44.3564H8.72645C8.67575 44.3564 8.63467 44.3148 8.63467 44.2641V41.2145H14.6054C15.3663 41.2145 15.9834 40.594 15.9834 39.8283C15.9834 39.0627 15.3665 38.4421 14.6054 38.4421H7.25778C7.25744 38.4421 7.25726 38.4421 7.25692 38.4421C7.25658 38.4421 7.2564 38.4421 7.25606 38.4421H1.37792C0.617032 38.4421 0 39.0627 0 39.8283C0 40.594 0.616861 41.2145 1.37792 41.2145H5.879V44.2641C5.879 45.8438 7.15637 47.1288 8.72663 47.1288H16.1695C16.1692 47.1596 16.1671 47.1904 16.1671 47.2211C16.1671 52.0617 20.0819 56 24.8936 56C29.7052 56 33.62 52.0617 33.62 47.2211C33.62 47.1904 33.618 47.1596 33.6176 47.1288H64.6703C64.67 47.1596 64.6679 47.1904 64.6679 47.2211C64.6679 52.0617 68.5827 56 73.3944 56C78.206 56 82.1208 52.0617 82.1208 47.2211C82.1208 47.1904 82.1188 47.1596 82.1184 47.1288H86.6221C87.383 47.1288 88 46.5083 88 45.7426V30.9572C88.0002 27.3067 85.3229 24.2738 81.8398 23.7403ZM64.4845 8.68669H74.8644C76.5359 8.68669 77.8958 10.0547 77.8958 11.7363V11.8286H64.4845V8.68669ZM64.4845 23.657V14.6008H76.7281L78.9786 23.657H64.4845ZM24.8936 53.2281C21.6013 53.2281 18.9228 50.5337 18.9228 47.2215C18.9228 43.9093 21.6013 41.2149 24.8936 41.2149C28.1858 41.2149 30.8643 43.9093 30.8643 47.2215C30.8643 50.5337 28.1858 53.2281 24.8936 53.2281ZM73.3947 53.2281C70.1025 53.2281 67.4239 50.5337 67.4239 47.2215C67.4239 43.9093 70.1025 41.2149 73.3947 41.2149C76.687 41.2149 79.3655 43.9093 79.3655 47.2215C79.3655 50.5337 76.687 53.2281 73.3947 53.2281ZM85.2445 35.4854H83.6828C82.8217 35.4854 82.1212 34.7807 82.1212 33.9144V32.3433H85.2443V35.4854H85.2445Z"
                          fill="url(#paint0_linear)" />
                    <path d="M2.84763 -2.61725e-06C1.27738 -2.61725e-06 -2.93732e-07 1.28505 -2.93732e-07 2.86473C-2.93732e-07 4.44441 1.27738 5.72946 2.84763 5.72946C4.41788 5.72946 5.69526 4.44441 5.69526 2.86473C5.69526 1.28505 4.41788 -2.61725e-06 2.84763 -2.61725e-06Z"
                          transform="translate(22.0459 44.3568)" fill="black" />
                    <path d="M2.84763 -2.61725e-06C1.27738 -2.61725e-06 -2.93732e-07 1.28505 -2.93732e-07 2.86473C-2.93732e-07 4.44441 1.27738 5.72946 2.84763 5.72946C4.41788 5.72946 5.69526 4.44441 5.69526 2.86473C5.69526 1.28505 4.41788 -2.61725e-06 2.84763 -2.61725e-06Z"
                          transform="translate(22.0459 44.3568)" fill="url(#paint1_linear)" />
                    <path d="M2.84763 -2.61725e-06C1.27738 -2.61725e-06 -2.3079e-06 1.28505 -2.3079e-06 2.86473C-2.3079e-06 4.44441 1.27738 5.72946 2.84763 5.72946C4.41789 5.72946 5.69526 4.44441 5.69526 2.86473C5.69526 1.28505 4.41789 -2.61725e-06 2.84763 -2.61725e-06Z"
                          transform="translate(70.5471 44.3568)" fill="black" />
                    <path d="M2.84763 -2.61725e-06C1.27738 -2.61725e-06 -2.3079e-06 1.28505 -2.3079e-06 2.86473C-2.3079e-06 4.44441 1.27738 5.72946 2.84763 5.72946C4.41789 5.72946 5.69526 4.44441 5.69526 2.86473C5.69526 1.28505 4.41789 -2.61725e-06 2.84763 -2.61725e-06Z"
                          transform="translate(70.5471 44.3568)" fill="url(#paint2_linear)" />
                    <path d="M21.9542 9.28701e-07H1.37793C0.617033 9.28701e-07 8.60216e-07 0.620565 8.60216e-07 1.3862C8.60216e-07 2.15183 0.616861 2.7724 1.37793 2.7724H21.9542C22.715 2.7724 23.3321 2.15183 23.3321 1.3862C23.3321 0.620565 22.7152 9.28701e-07 21.9542 9.28701e-07Z"
                          transform="translate(35.2734 38.4427)" fill="black" />
                    <path d="M21.9542 9.28701e-07H1.37793C0.617033 9.28701e-07 8.60216e-07 0.620565 8.60216e-07 1.3862C8.60216e-07 2.15183 0.616861 2.7724 1.37793 2.7724H21.9542C22.715 2.7724 23.3321 2.15183 23.3321 1.3862C23.3321 0.620565 22.7152 9.28701e-07 21.9542 9.28701e-07Z"
                          transform="translate(35.2734 38.4427)" fill="url(#paint3_linear)" />
                    <path d="M19.0147 -2.02626e-06H1.37792C0.617032 -2.02626e-06 -1.23263e-07 0.620562 -1.23263e-07 1.3862C-1.23263e-07 2.15183 0.61686 2.77239 1.37792 2.77239H19.0147C19.7756 2.77239 20.3927 2.15183 20.3927 1.3862C20.3927 0.620562 19.7756 -2.02626e-06 19.0147 -2.02626e-06Z"
                          transform="translate(2.93945 32.5284)" fill="black" />
                    <path d="M19.0147 -2.02626e-06H1.37792C0.617032 -2.02626e-06 -1.23263e-07 0.620562 -1.23263e-07 1.3862C-1.23263e-07 2.15183 0.61686 2.77239 1.37792 2.77239H19.0147C19.7756 2.77239 20.3927 2.15183 20.3927 1.3862C20.3927 0.620562 19.7756 -2.02626e-06 19.0147 -2.02626e-06Z"
                          transform="translate(2.93945 32.5284)" fill="url(#paint4_linear)" />
                    <path d="M13.1357 -1.18198e-06C5.89275 -1.18198e-06 -2.93732e-07 5.92813 -2.93732e-07 13.2146C-2.93732e-07 20.5011 5.89275 26.4292 13.1357 26.4292C20.3787 26.4292 26.2715 20.5011 26.2715 13.2146C26.2715 5.92813 20.3787 -1.18198e-06 13.1357 -1.18198e-06ZM13.1357 23.657C7.41229 23.657 2.75585 18.9726 2.75585 13.2148C2.75585 7.45697 7.41229 2.77257 13.1357 2.77257C18.8592 2.77257 23.5156 7.45697 23.5156 13.2148C23.5156 18.9726 18.8592 23.657 13.1357 23.657Z"
                          transform="translate(22.0459 7.39282)" fill="black" />
                    <path d="M13.1357 -1.18198e-06C5.89275 -1.18198e-06 -2.93732e-07 5.92813 -2.93732e-07 13.2146C-2.93732e-07 20.5011 5.89275 26.4292 13.1357 26.4292C20.3787 26.4292 26.2715 20.5011 26.2715 13.2146C26.2715 5.92813 20.3787 -1.18198e-06 13.1357 -1.18198e-06ZM13.1357 23.657C7.41229 23.657 2.75585 18.9726 2.75585 13.2148C2.75585 7.45697 7.41229 2.77257 13.1357 2.77257C18.8592 2.77257 23.5156 7.45697 23.5156 13.2148C23.5156 18.9726 18.8592 23.657 13.1357 23.657Z"
                          transform="translate(22.0459 7.39282)" fill="url(#paint5_linear)" />
                    <path d="M6.7614 10.7559L2.75585 6.72627V1.3862C2.75585 0.620736 2.13899 -8.65381e-07 1.37792 -8.65381e-07C0.616859 -8.65381e-07 -8.81197e-07 0.620563 -8.81197e-07 1.3862V7.30049C-8.81197e-07 7.66809 0.145063 8.02048 0.403564 8.28053L4.81268 12.7161C5.08167 12.9867 5.43435 13.1221 5.78687 13.1221C6.13939 13.1221 6.49225 12.9869 6.76106 12.7161C7.29955 12.1747 7.29955 11.2972 6.7614 10.7559Z"
                          transform="translate(33.8037 13.3071)" fill="black" />
                    <path d="M6.7614 10.7559L2.75585 6.72627V1.3862C2.75585 0.620736 2.13899 -8.65381e-07 1.37792 -8.65381e-07C0.616859 -8.65381e-07 -8.81197e-07 0.620563 -8.81197e-07 1.3862V7.30049C-8.81197e-07 7.66809 0.145063 8.02048 0.403564 8.28053L4.81268 12.7161C5.08167 12.9867 5.43435 13.1221 5.78687 13.1221C6.13939 13.1221 6.49225 12.9869 6.76106 12.7161C7.29955 12.1747 7.29955 11.2972 6.7614 10.7559Z"
                          transform="translate(33.8037 13.3071)" fill="url(#paint6_linear)" />
                    <defs>
                        <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(165.44 13.72) scale(159.251 101.341) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint1_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(10.7071 1.40372) scale(10.3065 10.3684) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint2_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(10.7071 1.40372) scale(10.3065 10.3684) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint3_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(43.8643 0.679237) scale(42.2233 5.01712) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint4_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(38.3382 0.679237) scale(36.904 5.01712) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint5_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(49.3904 6.47516) scale(47.5427 47.8281) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint6_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(13.4701 3.21492) scale(12.9662 23.7467) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                    </defs>
                </svg>
            </div>


            <div class="benefits__sub-item">
                Собственная служба доставки
            </div>
        </div>
        <div class="benefits__item">
            <div class="benefits__sub-item">
                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M40.9149 23.4494C40.7277 22.9299 40.1547 22.6607 39.6352 22.8478C39.1156 23.035 38.8463 23.6078 39.0335 24.1271C39.0381 24.1398 39.043 24.1525 39.0481 24.1651C39.9601 26.5442 40.0261 28.3635 39.2281 29.1631C38.2602 30.1288 35.8493 29.8269 32.7774 28.3575C28.6649 26.2228 24.9267 23.4341 21.709 20.1007C13.8763 12.2697 10.6445 4.5857 12.6434 2.58747C13.2812 2.08392 14.1103 1.8905 14.9053 2.05968C15.456 2.10016 15.9354 1.68657 15.9759 1.13604C16.015 0.603871 15.6291 0.134803 15.0993 0.0704534C13.709 -0.175451 12.2825 0.229767 11.2295 1.17003C7.56563 4.8316 13.1664 14.3829 20.295 21.5101C23.6725 25.004 27.597 27.9242 31.9145 30.1558C32.6963 30.53 33.502 30.8522 34.3264 31.1204L27.2217 33.8133C17.7346 30.2077 10.9051 21.8 9.32255 11.7779C9.23692 11.2325 8.7252 10.8596 8.1796 10.9452C7.634 11.0308 7.26102 11.5424 7.34664 12.0878C7.50363 13.0874 7.71362 14.087 7.97061 15.0646C10.2733 23.7861 16.3381 31.0314 24.5198 34.8349L12.8264 39.2582C12.7728 39.1688 12.7053 39.0885 12.6264 39.0203C9.65453 36.6351 7.78987 33.1371 7.46663 29.3411L7.00266 23.7243C6.96616 23.1801 6.49518 22.7685 5.95071 22.805C5.94033 22.8057 5.92996 22.8065 5.91971 22.8076C5.36924 22.8513 4.95838 23.333 5.00213 23.8833C5.00225 23.8856 5.0025 23.8879 5.00275 23.8902L5.47473 29.505C5.82621 33.5626 7.71962 37.3311 10.7655 40.0359L2.42388 43.1927L3.9238 37.0391C4.05467 36.5024 3.72569 35.9614 3.18884 35.8305C2.65199 35.6997 2.11077 36.0286 1.9799 36.5653L0.0289903 44.5622C-0.102503 45.0983 0.225731 45.6396 0.762205 45.7709C0.958946 45.8192 1.16556 45.8064 1.35493 45.7347L38.3532 31.7401C38.412 31.7114 38.4677 31.6765 38.5191 31.6362C39.3199 31.5132 40.0622 31.1431 40.642 30.5776C41.6329 29.587 42.4858 27.5448 40.9149 23.4494Z"
                          transform="translate(0 14.178)" fill="black" />
                    <path d="M40.9149 23.4494C40.7277 22.9299 40.1547 22.6607 39.6352 22.8478C39.1156 23.035 38.8463 23.6078 39.0335 24.1271C39.0381 24.1398 39.043 24.1525 39.0481 24.1651C39.9601 26.5442 40.0261 28.3635 39.2281 29.1631C38.2602 30.1288 35.8493 29.8269 32.7774 28.3575C28.6649 26.2228 24.9267 23.4341 21.709 20.1007C13.8763 12.2697 10.6445 4.5857 12.6434 2.58747C13.2812 2.08392 14.1103 1.8905 14.9053 2.05968C15.456 2.10016 15.9354 1.68657 15.9759 1.13604C16.015 0.603871 15.6291 0.134803 15.0993 0.0704534C13.709 -0.175451 12.2825 0.229767 11.2295 1.17003C7.56563 4.8316 13.1664 14.3829 20.295 21.5101C23.6725 25.004 27.597 27.9242 31.9145 30.1558C32.6963 30.53 33.502 30.8522 34.3264 31.1204L27.2217 33.8133C17.7346 30.2077 10.9051 21.8 9.32255 11.7779C9.23692 11.2325 8.7252 10.8596 8.1796 10.9452C7.634 11.0308 7.26102 11.5424 7.34664 12.0878C7.50363 13.0874 7.71362 14.087 7.97061 15.0646C10.2733 23.7861 16.3381 31.0314 24.5198 34.8349L12.8264 39.2582C12.7728 39.1688 12.7053 39.0885 12.6264 39.0203C9.65453 36.6351 7.78987 33.1371 7.46663 29.3411L7.00266 23.7243C6.96616 23.1801 6.49518 22.7685 5.95071 22.805C5.94033 22.8057 5.92996 22.8065 5.91971 22.8076C5.36924 22.8513 4.95838 23.333 5.00213 23.8833C5.00225 23.8856 5.0025 23.8879 5.00275 23.8902L5.47473 29.505C5.82621 33.5626 7.71962 37.3311 10.7655 40.0359L2.42388 43.1927L3.9238 37.0391C4.05467 36.5024 3.72569 35.9614 3.18884 35.8305C2.65199 35.6997 2.11077 36.0286 1.9799 36.5653L0.0289903 44.5622C-0.102503 45.0983 0.225731 45.6396 0.762205 45.7709C0.958946 45.8192 1.16556 45.8064 1.35493 45.7347L38.3532 31.7401C38.412 31.7114 38.4677 31.6765 38.5191 31.6362C39.3199 31.5132 40.0622 31.1431 40.642 30.5776C41.6329 29.587 42.4858 27.5448 40.9149 23.4494Z"
                          transform="translate(0 14.178)" fill="url(#paint0_linear)" />
                    <path d="M21.3264 2.08953C15.9208 0.0665678 10.0782 -0.500587 4.3842 0.44517L0.811374 1.04494C0.269025 1.14915 -0.0860836 1.67307 0.0181614 2.21523C0.118907 2.73903 0.613259 3.09152 1.14136 3.01617L4.71319 2.4214C10.0607 1.53262 15.548 2.06567 20.6244 3.9668C20.737 4.00666 20.8559 4.02665 20.9754 4.02578C21.5276 4.02665 21.9761 3.57995 21.977 3.02779C21.9777 2.60983 21.7182 2.2356 21.3264 2.08953Z"
                          transform="translate(29.025 32.9598)" fill="black" />
                    <path d="M21.3264 2.08953C15.9208 0.0665678 10.0782 -0.500587 4.3842 0.44517L0.811374 1.04494C0.269025 1.14915 -0.0860836 1.67307 0.0181614 2.21523C0.118907 2.73903 0.613259 3.09152 1.14136 3.01617L4.71319 2.4214C10.0607 1.53262 15.548 2.06567 20.6244 3.9668C20.737 4.00666 20.8559 4.02665 20.9754 4.02578C21.5276 4.02665 21.9761 3.57995 21.977 3.02779C21.9777 2.60983 21.7182 2.2356 21.3264 2.08953Z"
                          transform="translate(29.025 32.9598)" fill="url(#paint1_linear)" />
                    <path d="M22.9023 0.57018C22.6648 0.0716234 22.0681 -0.140044 21.5694 0.0973638L0.5704 10.0935C0.0717986 10.3308 -0.140065 10.9272 0.0972988 11.4257C0.0972988 11.4258 0.0974228 11.426 0.0974228 11.426C0.334786 11.9244 0.931381 12.1362 1.43011 11.8989C1.43023 11.8989 1.43023 11.8988 1.43036 11.8988L22.4294 1.90266C22.9281 1.66525 23.1398 1.06874 22.9023 0.57018Z"
                          transform="translate(31.0039 18.9922)" fill="black" />
                    <path d="M22.9023 0.57018C22.6648 0.0716234 22.0681 -0.140044 21.5694 0.0973638L0.5704 10.0935C0.0717986 10.3308 -0.140065 10.9272 0.0972988 11.4257C0.0972988 11.4258 0.0974228 11.426 0.0974228 11.426C0.334786 11.9244 0.931381 12.1362 1.43011 11.8989C1.43023 11.8989 1.43023 11.8988 1.43036 11.8988L22.4294 1.90266C22.9281 1.66525 23.1398 1.06874 22.9023 0.57018Z"
                          transform="translate(31.0039 18.9922)" fill="url(#paint2_linear)" />
                    <path d="M4.97486 0.800793C4.86486 0.259754 4.33701 -0.0897357 3.79579 0.0202215C3.25456 0.130179 2.90496 0.657848 3.01495 1.19889C3.01733 1.21088 3.02008 1.22275 3.02295 1.23462C4.28864 6.8873 3.76704 12.7935 1.53002 18.1371L0.0760905 21.6247C-0.134024 22.1329 0.10584 22.7153 0.613066 22.9282C0.73456 22.9793 0.865177 23.0054 0.997046 23.0052C1.40065 23.0052 1.76463 22.7628 1.92 22.3904L3.37493 18.9068C5.77169 13.1829 6.33079 6.85606 4.97486 0.800793Z"
                          transform="translate(19.3108 5.98358)" fill="black" />
                    <path d="M4.97486 0.800793C4.86486 0.259754 4.33701 -0.0897357 3.79579 0.0202215C3.25456 0.130179 2.90496 0.657848 3.01495 1.19889C3.01733 1.21088 3.02008 1.22275 3.02295 1.23462C4.28864 6.8873 3.76704 12.7935 1.53002 18.1371L0.0760905 21.6247C-0.134024 22.1329 0.10584 22.7153 0.613066 22.9282C0.73456 22.9793 0.865177 23.0054 0.997046 23.0052C1.40065 23.0052 1.76463 22.7628 1.92 22.3904L3.37493 18.9068C5.77169 13.1829 6.33079 6.85606 4.97486 0.800793Z"
                          transform="translate(19.3108 5.98358)" fill="url(#paint3_linear)" />
                    <path d="M2.99986 0C1.34306 0 1.37323e-06 1.3426 1.37323e-06 2.99883C1.37323e-06 4.65506 1.34306 5.99767 2.99986 5.99767C4.65665 5.99767 5.99971 4.65506 5.99971 2.99883C5.99971 1.3426 4.65665 0 2.99986 0ZM2.99986 3.99844C2.44763 3.99844 1.99991 3.55087 1.99991 2.99883C1.99991 2.4468 2.44763 1.99922 2.99986 1.99922C3.55208 1.99922 3.99981 2.4468 3.99981 2.99883C3.99981 3.55087 3.55208 3.99844 2.99986 3.99844Z"
                          transform="translate(52.0004 35.986)" fill="black" />
                    <path d="M2.99986 0C1.34306 0 1.37323e-06 1.3426 1.37323e-06 2.99883C1.37323e-06 4.65506 1.34306 5.99767 2.99986 5.99767C4.65665 5.99767 5.99971 4.65506 5.99971 2.99883C5.99971 1.3426 4.65665 0 2.99986 0ZM2.99986 3.99844C2.44763 3.99844 1.99991 3.55087 1.99991 2.99883C1.99991 2.4468 2.44763 1.99922 2.99986 1.99922C3.55208 1.99922 3.99981 2.4468 3.99981 2.99883C3.99981 3.55087 3.55208 3.99844 2.99986 3.99844Z"
                          transform="translate(52.0004 35.986)" fill="url(#paint4_linear)" />
                    <path d="M2.99986 0C1.34306 0 -5.34032e-07 1.3426 -5.34032e-07 2.99883C-5.34032e-07 4.65506 1.34306 5.99767 2.99986 5.99767C4.65665 5.99767 5.99971 4.65506 5.99971 2.99883C5.99971 1.3426 4.65665 0 2.99986 0ZM2.99986 3.99844C2.44763 3.99844 1.9999 3.55087 1.9999 2.99883C1.9999 2.4468 2.44763 1.99922 2.99986 1.99922C3.55208 1.99922 3.99981 2.4468 3.99981 2.99883C3.99981 3.55087 3.55208 3.99844 2.99986 3.99844Z"
                          transform="translate(28.0016 7.99689)" fill="black" />
                    <path d="M2.99986 0C1.34306 0 -5.34032e-07 1.3426 -5.34032e-07 2.99883C-5.34032e-07 4.65506 1.34306 5.99767 2.99986 5.99767C4.65665 5.99767 5.99971 4.65506 5.99971 2.99883C5.99971 1.3426 4.65665 0 2.99986 0ZM2.99986 3.99844C2.44763 3.99844 1.9999 3.55087 1.9999 2.99883C1.9999 2.4468 2.44763 1.99922 2.99986 1.99922C3.55208 1.99922 3.99981 2.4468 3.99981 2.99883C3.99981 3.55087 3.55208 3.99844 2.99986 3.99844Z"
                          transform="translate(28.0016 7.99689)" fill="url(#paint5_linear)" />
                    <path d="M1.9999 3.99845C3.10442 3.99845 3.99981 3.10336 3.99981 1.99922C3.99981 0.895082 3.10442 0 1.9999 0C0.895387 0 0 0.895082 0 1.99922C0 3.10336 0.895387 3.99845 1.9999 3.99845Z"
                          transform="translate(20.002)" fill="black" />
                    <path d="M1.9999 3.99845C3.10442 3.99845 3.99981 3.10336 3.99981 1.99922C3.99981 0.895082 3.10442 0 1.9999 0C0.895387 0 0 0.895082 0 1.99922C0 3.10336 0.895387 3.99845 1.9999 3.99845Z"
                          transform="translate(20.002)" fill="url(#paint6_linear)" />
                    <path d="M0.999954 0C0.44773 0 1.37323e-06 0.447576 1.37323e-06 0.999611V1.99922C1.37323e-06 2.55126 0.44773 2.99883 0.999954 2.99883C1.55218 2.99883 1.99991 2.55126 1.99991 1.99922V0.999611C1.99991 0.447576 1.55218 0 0.999954 0Z"
                          transform="translate(49.0005 4.99805)" fill="black" />
                    <path d="M0.999954 0C0.44773 0 1.37323e-06 0.447576 1.37323e-06 0.999611V1.99922C1.37323e-06 2.55126 0.44773 2.99883 0.999954 2.99883C1.55218 2.99883 1.99991 2.55126 1.99991 1.99922V0.999611C1.99991 0.447576 1.55218 0 0.999954 0Z"
                          transform="translate(49.0005 4.99805)" fill="url(#paint7_linear)" />
                    <path d="M0.999954 0C0.44773 0 1.37323e-06 0.447576 1.37323e-06 0.999611V1.99922C1.37323e-06 2.55126 0.44773 2.99883 0.999954 2.99883C1.55218 2.99883 1.99991 2.55126 1.99991 1.99922V0.999611C1.99991 0.447576 1.55218 0 0.999954 0Z"
                          transform="translate(49.0005)" fill="black" />
                    <path d="M0.999954 0C0.44773 0 1.37323e-06 0.447576 1.37323e-06 0.999611V1.99922C1.37323e-06 2.55126 0.44773 2.99883 0.999954 2.99883C1.55218 2.99883 1.99991 2.55126 1.99991 1.99922V0.999611C1.99991 0.447576 1.55218 0 0.999954 0Z"
                          transform="translate(49.0005)" fill="url(#paint8_linear)" />
                    <path d="M1.99991 0H0.999954C0.44773 0 1.37323e-06 0.447576 1.37323e-06 0.999611C1.37323e-06 1.55165 0.44773 1.99922 0.999954 1.99922H1.99991C2.55213 1.99922 2.99986 1.55165 2.99986 0.999611C2.99986 0.447576 2.55213 0 1.99991 0Z"
                          transform="translate(51.0005 2.99884)" fill="black" />
                    <path d="M1.99991 0H0.999954C0.44773 0 1.37323e-06 0.447576 1.37323e-06 0.999611C1.37323e-06 1.55165 0.44773 1.99922 0.999954 1.99922H1.99991C2.55213 1.99922 2.99986 1.55165 2.99986 0.999611C2.99986 0.447576 2.55213 0 1.99991 0Z"
                          transform="translate(51.0005 2.99884)" fill="url(#paint9_linear)" />
                    <path d="M1.99991 0H0.999954C0.44773 0 1.37323e-06 0.447576 1.37323e-06 0.999611C1.37323e-06 1.55165 0.44773 1.99922 0.999954 1.99922H1.99991C2.55213 1.99922 2.99986 1.55165 2.99986 0.999611C2.99986 0.447576 2.55213 0 1.99991 0Z"
                          transform="translate(46.0006 2.99884)" fill="black" />
                    <path d="M1.99991 0H0.999954C0.44773 0 1.37323e-06 0.447576 1.37323e-06 0.999611C1.37323e-06 1.55165 0.44773 1.99922 0.999954 1.99922H1.99991C2.55213 1.99922 2.99986 1.55165 2.99986 0.999611C2.99986 0.447576 2.55213 0 1.99991 0Z"
                          transform="translate(46.0006 2.99884)" fill="url(#paint10_linear)" />
                    <path d="M6.02071 9.15171e-08H0.999954C0.44773 9.15171e-08 1.46477e-06 0.447576 1.46477e-06 0.999611V6.01866C1.46477e-06 6.57069 0.44773 7.01827 0.999954 7.01827H6.02071C6.57294 7.01827 7.02067 6.57069 7.02067 6.01866V0.999611C7.02067 0.447576 6.57294 9.15171e-08 6.02071 9.15171e-08ZM5.02076 5.01905H1.99991V1.99922H5.02076V5.01905Z"
                          transform="translate(36.9801 10.9747)" fill="black" />
                    <path d="M6.02071 9.15171e-08H0.999954C0.44773 9.15171e-08 1.46477e-06 0.447576 1.46477e-06 0.999611V6.01866C1.46477e-06 6.57069 0.44773 7.01827 0.999954 7.01827H6.02071C6.57294 7.01827 7.02067 6.57069 7.02067 6.01866V0.999611C7.02067 0.447576 6.57294 9.15171e-08 6.02071 9.15171e-08ZM5.02076 5.01905H1.99991V1.99922H5.02076V5.01905Z"
                          transform="translate(36.9801 10.9747)" fill="url(#paint11_linear)" />
                    <path d="M11.7143 0.316222C11.3472 -0.0755003 10.7362 -0.107488 10.3302 0.24375L0.330723 9.24025C-0.0795072 9.60961 -0.112632 10.2415 0.256725 10.6517C0.626208 11.0618 1.2583 11.0949 1.66866 10.7257L11.6682 1.72917C12.0713 1.35169 12.0919 0.719191 11.7143 0.316222Z"
                          transform="translate(24.002 19.0058)" fill="black" />
                    <path d="M11.7143 0.316222C11.3472 -0.0755003 10.7362 -0.107488 10.3302 0.24375L0.330723 9.24025C-0.0795072 9.60961 -0.112632 10.2415 0.256725 10.6517C0.626208 11.0618 1.2583 11.0949 1.66866 10.7257L11.6682 1.72917C12.0713 1.35169 12.0919 0.719191 11.7143 0.316222Z"
                          transform="translate(24.002 19.0058)" fill="url(#paint12_linear)" />
                    <path d="M0.999954 0C0.44773 0 1.37323e-06 0.447576 1.37323e-06 0.999611V1.99922C1.37323e-06 2.55126 0.44773 2.99883 0.999954 2.99883C1.55218 2.99883 1.99991 2.55126 1.99991 1.99922V0.999611C1.99991 0.447576 1.55218 0 0.999954 0Z"
                          transform="translate(53.0004 22.9911)" fill="black" />
                    <path d="M0.999954 0C0.44773 0 1.37323e-06 0.447576 1.37323e-06 0.999611V1.99922C1.37323e-06 2.55126 0.44773 2.99883 0.999954 2.99883C1.55218 2.99883 1.99991 2.55126 1.99991 1.99922V0.999611C1.99991 0.447576 1.55218 0 0.999954 0Z"
                          transform="translate(53.0004 22.9911)" fill="url(#paint13_linear)" />
                    <path d="M2.40157 0.987391L1.69461 0.280667C1.29738 -0.102933 0.664405 -0.0919378 0.280673 0.305158C-0.0935588 0.692507 -0.0935588 1.30664 0.280673 1.69412L0.98764 2.40084C1.38487 2.78444 2.01784 2.77345 2.40157 2.37635C2.77593 1.98888 2.77593 1.37474 2.40157 0.987391Z"
                          transform="translate(55.8416 21.8317)" fill="black" />
                    <path d="M2.40157 0.987391L1.69461 0.280667C1.29738 -0.102933 0.664405 -0.0919378 0.280673 0.305158C-0.0935588 0.692507 -0.0935588 1.30664 0.280673 1.69412L0.98764 2.40084C1.38487 2.78444 2.01784 2.77345 2.40157 2.37635C2.77593 1.98888 2.77593 1.37474 2.40157 0.987391Z"
                          transform="translate(55.8416 21.8317)" fill="url(#paint14_linear)" />
                    <path d="M1.99991 0H0.999954C0.44773 0 1.37323e-06 0.447576 1.37323e-06 0.999611C1.37323e-06 1.55165 0.44773 1.99922 0.999954 1.99922H1.99991C2.55213 1.99922 2.99986 1.55165 2.99986 0.999611C2.99986 0.447576 2.55213 0 1.99991 0Z"
                          transform="translate(57.0001 18.9926)" fill="black" />
                    <path d="M1.99991 0H0.999954C0.44773 0 1.37323e-06 0.447576 1.37323e-06 0.999611C1.37323e-06 1.55165 0.44773 1.99922 0.999954 1.99922H1.99991C2.55213 1.99922 2.99986 1.55165 2.99986 0.999611C2.99986 0.447576 2.55213 0 1.99991 0Z"
                          transform="translate(57.0001 18.9926)" fill="url(#paint15_linear)" />
                    <path d="M2.38918 0.280579C2.0017 -0.0935258 1.38736 -0.0935258 0.999749 0.280579L0.292782 0.987304C-0.0976992 1.37778 -0.0975725 2.01065 0.293034 2.401C0.480525 2.58831 0.734762 2.69364 0.999749 2.69364C1.26499 2.69364 1.51923 2.58818 1.70672 2.40075L2.41368 1.69403C2.79741 1.29693 2.78641 0.664055 2.38918 0.280579Z"
                          transform="translate(55.8293 15.4713)" fill="black" />
                    <path d="M2.38918 0.280579C2.0017 -0.0935258 1.38736 -0.0935258 0.999749 0.280579L0.292782 0.987304C-0.0976992 1.37778 -0.0975725 2.01065 0.293034 2.401C0.480525 2.58831 0.734762 2.69364 0.999749 2.69364C1.26499 2.69364 1.51923 2.58818 1.70672 2.40075L2.41368 1.69403C2.79741 1.29693 2.78641 0.664055 2.38918 0.280579Z"
                          transform="translate(55.8293 15.4713)" fill="url(#paint16_linear)" />
                    <path d="M0.999954 0C0.44773 0 1.37323e-06 0.447576 1.37323e-06 0.999611V1.99922C1.37323e-06 2.55126 0.44773 2.99883 0.999954 2.99883C1.55218 2.99883 1.99991 2.55126 1.99991 1.99922V0.999611C1.99991 0.447576 1.55218 0 0.999954 0Z"
                          transform="translate(53.0004 13.9946)" fill="black" />
                    <path d="M0.999954 0C0.44773 0 1.37323e-06 0.447576 1.37323e-06 0.999611V1.99922C1.37323e-06 2.55126 0.44773 2.99883 0.999954 2.99883C1.55218 2.99883 1.99991 2.55126 1.99991 1.99922V0.999611C1.99991 0.447576 1.55218 0 0.999954 0Z"
                          transform="translate(53.0004 13.9946)" fill="url(#paint17_linear)" />
                    <path d="M2.40157 0.987345L1.69461 0.28062C1.29737 -0.102856 0.664407 -0.0919856 0.280675 0.30511C-0.0935567 0.692459 -0.0935567 1.3066 0.280675 1.69407L0.987639 2.40079C1.38487 2.7844 2.01784 2.7734 2.40157 2.3763C2.77593 1.98883 2.77593 1.37469 2.40157 0.987345Z"
                          transform="translate(49.4768 15.4713)" fill="black" />
                    <path d="M2.40157 0.987345L1.69461 0.28062C1.29737 -0.102856 0.664407 -0.0919856 0.280675 0.30511C-0.0935567 0.692459 -0.0935567 1.3066 0.280675 1.69407L0.987639 2.40079C1.38487 2.7844 2.01784 2.7734 2.40157 2.3763C2.77593 1.98883 2.77593 1.37469 2.40157 0.987345Z"
                          transform="translate(49.4768 15.4713)" fill="url(#paint18_linear)" />
                    <path d="M11.9517 4.27724C11.8339 3.91563 11.5211 3.65223 11.1447 3.5975L8.20986 3.17067L6.90093 0.512702C6.60919 0.0175191 5.9711 -0.147542 5.47574 0.144095C5.3235 0.233685 5.19663 0.360511 5.10701 0.512702L3.79207 3.17067L0.857215 3.5975C0.310616 3.67635 -0.0684905 4.18327 0.0103807 4.72969C0.0417542 4.94723 0.143999 5.14827 0.301242 5.30184L2.42414 7.37103L1.92416 10.2929C1.82817 10.8366 2.19115 11.3551 2.735 11.4511C2.95399 11.4897 3.17948 11.4543 3.37609 11.3505L6.00097 9.96702L8.62584 11.3465C9.1147 11.6034 9.71929 11.4156 9.97628 10.9269C10.0786 10.7324 10.1139 10.5096 10.0768 10.2929L9.5768 7.37103L11.7007 5.30184C11.9726 5.03582 12.0698 4.63872 11.9517 4.27724ZM7.80088 6.30645C7.56539 6.53573 7.45777 6.86611 7.5129 7.1901L7.76088 8.63454L6.46595 7.95181C6.17484 7.79899 5.8271 7.79899 5.53599 7.95181L4.23605 8.63354L4.48404 7.18911C4.54016 6.86636 4.43442 6.53648 4.20106 6.30645L3.15011 5.28385L4.60104 5.07293C4.92677 5.0257 5.20838 4.82115 5.354 4.52614L6.00097 3.21365L6.64894 4.52614C6.79443 4.8209 7.07554 5.02532 7.4009 5.07293L8.85083 5.28385L7.80088 6.30645Z"
                          transform="translate(0.00158691 0.0450745)" fill="black" />
                    <path d="M11.9517 4.27724C11.8339 3.91563 11.5211 3.65223 11.1447 3.5975L8.20986 3.17067L6.90093 0.512702C6.60919 0.0175191 5.9711 -0.147542 5.47574 0.144095C5.3235 0.233685 5.19663 0.360511 5.10701 0.512702L3.79207 3.17067L0.857215 3.5975C0.310616 3.67635 -0.0684905 4.18327 0.0103807 4.72969C0.0417542 4.94723 0.143999 5.14827 0.301242 5.30184L2.42414 7.37103L1.92416 10.2929C1.82817 10.8366 2.19115 11.3551 2.735 11.4511C2.95399 11.4897 3.17948 11.4543 3.37609 11.3505L6.00097 9.96702L8.62584 11.3465C9.1147 11.6034 9.71929 11.4156 9.97628 10.9269C10.0786 10.7324 10.1139 10.5096 10.0768 10.2929L9.5768 7.37103L11.7007 5.30184C11.9726 5.03582 12.0698 4.63872 11.9517 4.27724ZM7.80088 6.30645C7.56539 6.53573 7.45777 6.86611 7.5129 7.1901L7.76088 8.63454L6.46595 7.95181C6.17484 7.79899 5.8271 7.79899 5.53599 7.95181L4.23605 8.63354L4.48404 7.18911C4.54016 6.86636 4.43442 6.53648 4.20106 6.30645L3.15011 5.28385L4.60104 5.07293C4.92677 5.0257 5.20838 4.82115 5.354 4.52614L6.00097 3.21365L6.64894 4.52614C6.79443 4.8209 7.07554 5.02532 7.4009 5.07293L8.85083 5.28385L7.80088 6.30645Z"
                          transform="translate(0.00158691 0.0450745)" fill="url(#paint19_linear)" />
                    <path d="M11.5978 7.11838H11.5938L11.1819 6.50062C8.87184 3.04734 5.23939 0.699253 1.14133 0.0101464C0.594608 -0.0678232 0.088134 0.31203 0.0101378 0.858568C-0.0652336 1.38661 0.287375 1.88079 0.81135 1.98138C3.76721 2.48293 6.46096 3.9841 8.44199 6.23373C6.77644 6.53324 5.31976 7.53322 4.44218 8.97966C3.36523 10.9078 4.05582 13.3435 5.9846 14.42C7.91338 15.4966 10.3499 14.8063 11.4268 12.8781C11.8382 12.0843 12.0603 11.206 12.0758 10.3121C13.1398 11.8569 13.2249 13.8743 12.2948 15.5031C12.0131 15.9779 12.1697 16.5912 12.6447 16.8728C13.1196 17.1545 13.7331 16.9979 14.0148 16.5231C14.0238 16.5079 14.0325 16.4925 14.0407 16.4767C15.8716 13.2075 14.7932 9.0765 11.5978 7.11838ZM9.68292 11.9025C9.1492 12.8693 7.93263 13.2204 6.96568 12.6868C5.99873 12.1533 5.64737 10.9371 6.18109 9.97052C6.18409 9.96515 6.18709 9.95965 6.19009 9.95428C6.78019 8.98841 7.77552 8.34091 8.89796 8.19296C9.07183 8.18822 9.24395 8.2282 9.39794 8.30892C10.2419 8.77974 10.2869 10.8209 9.68292 11.9025Z"
                          transform="translate(45.0243 42.9871)" fill="black" />
                    <path d="M11.5978 7.11838H11.5938L11.1819 6.50062C8.87184 3.04734 5.23939 0.699253 1.14133 0.0101464C0.594608 -0.0678232 0.088134 0.31203 0.0101378 0.858568C-0.0652336 1.38661 0.287375 1.88079 0.81135 1.98138C3.76721 2.48293 6.46096 3.9841 8.44199 6.23373C6.77644 6.53324 5.31976 7.53322 4.44218 8.97966C3.36523 10.9078 4.05582 13.3435 5.9846 14.42C7.91338 15.4966 10.3499 14.8063 11.4268 12.8781C11.8382 12.0843 12.0603 11.206 12.0758 10.3121C13.1398 11.8569 13.2249 13.8743 12.2948 15.5031C12.0131 15.9779 12.1697 16.5912 12.6447 16.8728C13.1196 17.1545 13.7331 16.9979 14.0148 16.5231C14.0238 16.5079 14.0325 16.4925 14.0407 16.4767C15.8716 13.2075 14.7932 9.0765 11.5978 7.11838ZM9.68292 11.9025C9.1492 12.8693 7.93263 13.2204 6.96568 12.6868C5.99873 12.1533 5.64737 10.9371 6.18109 9.97052C6.18409 9.96515 6.18709 9.95965 6.19009 9.95428C6.78019 8.98841 7.77552 8.34091 8.89796 8.19296C9.07183 8.18822 9.24395 8.2282 9.39794 8.30892C10.2419 8.77974 10.2869 10.8209 9.68292 11.9025Z"
                          transform="translate(45.0243 42.9871)" fill="url(#paint20_linear)" />
                    <defs>
                        <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(78.5518 11.2209) scale(75.6131 82.8822) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint1_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(41.3167 0.986323) scale(39.7711 7.28537) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint2_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(43.2395 2.93906) scale(41.6219 21.7091) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint3_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(10.7129 5.63627) scale(10.3122 41.6317) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint4_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(11.2795 1.46943) scale(10.8575 10.8538) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint5_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(11.2795 1.46943) scale(10.8575 10.8538) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint6_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(7.51964 0.979619) scale(7.23833 7.23586) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint7_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(3.75982 0.734714) scale(3.61916 5.42689) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint8_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(3.75982 0.734714) scale(3.61916 5.42689) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint9_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.63973 0.48981) scale(5.42875 3.61793) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint10_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.63973 0.48981) scale(5.42875 3.61793) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint11_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(13.1988 1.71948) scale(12.7051 12.7007) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint12_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(22.5309 2.69067) scale(21.6881 19.8743) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint13_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(3.75982 0.734714) scale(3.61916 5.42689) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint14_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.0428 0.65697) scale(4.85415 4.85264) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint15_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.63973 0.48981) scale(5.42875 3.61793) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint16_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.06556 0.659942) scale(4.87605 4.8746) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint17_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(3.75982 0.734714) scale(3.61916 5.42689) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint18_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.0428 0.656958) scale(4.85415 4.85256) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint19_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(22.5622 2.80924) scale(21.7181 20.7502) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                        <linearGradient id="paint20_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(28.0709 4.16815) scale(27.0207 30.7877) rotate(119.823)">
                            <stop stop-color="#EC8E51" />
                            <stop offset="1" stop-color="#90220F" />
                        </linearGradient>
                    </defs>
                </svg>
            </div>

            <div class="benefits__sub-item">
                Нам доверяют 30 праздничных агенств
            </div>
        </div>
    </div>
    <img src="img/disk.png" alt=" " class="disk disk--top">
    <img src="img/disk.png" alt=" " class="disk disk--bottom">
</section>