<section class="contacts container">
    <div class="contacts__header">
        <h3 class="contacts__caption">Контакты</h3>
        <p class="contacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vulputate diam arcu,
            nec pulvinar tellus rhoncus
            id. Sed sem magna, euismod ut felis sed, feugiat tristique dui. </p>
    </div>
    <div class="contacts-flexbox">
        <div class="background--primary frame">
            <div class="contacts__frame">
                <svg class="contacts__frame-icon" width="21" height="20" viewBox="0 0 21 20" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.0748 20C15.2427 20 14.2376 19.7915 13.133 19.375C10.7092 18.4608 8.07345 16.6552 5.7095 14.2913C3.34555 11.9273 1.53995 9.2909 0.625722 6.8664C-0.206438 4.66323 -0.208456 2.85494 0.618995 2.02749C0.73874 1.90775 0.860503 1.77993 0.98563 1.64875C1.7411 0.854935 2.61497 -0.0471888 3.72564 0.00192012C4.506 0.0342109 5.26147 0.518573 6.03645 1.48057C8.32102 4.32283 7.29108 5.33595 6.09901 6.51053L5.88777 6.71907C5.69268 6.91416 5.32336 7.81696 8.75358 11.2465C9.87434 12.3666 10.8283 13.186 11.5905 13.6818C12.0715 13.9939 12.9299 14.4648 13.2817 14.113L13.4936 13.8991C14.6668 12.7083 15.6799 11.6818 18.5215 13.9657C19.4842 14.7393 19.9679 15.4948 20.0002 16.2758C20.0466 17.4073 19.1452 18.263 18.35 19.0178C18.2195 19.1423 18.0917 19.2627 17.9733 19.3811C17.5602 19.7935 16.9036 20 16.0748 20ZM3.64558 0.671954C2.84235 0.671954 2.11581 1.43617 1.47336 2.11158C1.34352 2.24747 1.21772 2.38 1.09461 2.50311C0.478395 3.11865 0.541632 4.73857 1.25472 6.6296C2.13599 8.96597 3.88709 11.5183 6.18512 13.8163C8.48314 16.1143 11.0348 17.8648 13.3705 18.746C15.2615 19.4598 16.8814 19.5217 17.4977 18.9048C17.6208 18.7824 17.7519 18.6572 17.8865 18.5294C18.578 17.8722 19.3618 17.1281 19.3281 16.302C19.3046 15.7349 18.8915 15.1248 18.0997 14.489C15.7318 12.5866 15.0705 13.2593 13.9726 14.3706L13.7573 14.5879C13.2346 15.1133 12.3823 14.9983 11.2238 14.2448C10.4233 13.7242 9.43169 12.8745 8.27796 11.7215C5.43167 8.87516 4.5208 7.13414 5.41216 6.24211L5.62676 6.02953C6.74213 4.93164 7.41486 4.26901 5.51172 1.90102C4.87532 1.11057 4.26516 0.697517 3.69806 0.673299C3.68056 0.672626 3.6624 0.671954 3.64558 0.671954Z"
                          fill="white"/>
                    <path d="M4.5717 5.02226C4.52931 5.02226 4.48693 5.01418 4.44522 4.99736C4.27301 4.9274 4.18959 4.73164 4.26022 4.56009C4.68808 3.50526 4.44321 2.3031 3.63863 1.49785C2.81185 0.671074 1.54107 0.441675 0.474804 0.920655C0.307295 0.996672 0.106151 0.922673 0.0301334 0.753146C-0.0465572 0.58362 0.0281156 0.384493 0.197642 0.308475C1.51685 -0.288904 3.09036 -0.00165057 4.11424 1.02291C5.11055 2.01921 5.4126 3.50661 4.88317 4.81304C4.8307 4.9422 4.70422 5.02226 4.5717 5.02226Z"
                          transform="translate(11.6209 3.24353)" fill="white"/>
                    <path d="M8.91036 9.4804C8.86798 9.4804 8.8256 9.47233 8.78389 9.45551C8.611 9.38555 8.52825 9.18979 8.59889 9.01824C9.51716 6.75318 8.99445 4.17328 7.26622 2.44505C5.49158 0.670404 2.76233 0.172588 0.47507 1.20657C0.305544 1.28056 0.106417 1.20791 0.0297268 1.03838C-0.0462911 0.868185 0.0283813 0.669058 0.197908 0.592368C2.73879 -0.5553 5.77008 -0.00299336 7.74184 1.96876C9.6618 3.88872 10.243 6.75452 9.22183 9.27051C9.16936 9.40102 9.04289 9.4804 8.91036 9.4804Z"
                          transform="translate(10.2852 0.00427246)" fill="white"/>
                </svg>
                <div class="contacts__frame-header">
                    <div class="contacts__frame-caption">
                        Email
                    </div>
                    <a class="contacts__frame-text" href="mailto:#">
                        zakaz@tortel.ru
                    </a>
                </div>
            </div>
            <div class="contacts__frame">
                <svg class="contacts__frame-icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.314715 0.629674C0.141622 0.629674 0 0.487997 0 0.314837C0 0.141677 0.141622 1.20101e-07 0.314715 1.20101e-07C0.487808 1.20101e-07 0.62943 0.141677 0.62943 0.314837C0.62943 0.487997 0.487808 0.629674 0.314715 0.629674Z"
                          transform="translate(19.3577 7.51672)" fill="white"/>
                    <path d="M0.314715 0.629674C0.141622 0.629674 0 0.487997 0 0.314837C0 0.141677 0.141622 1.20101e-07 0.314715 1.20101e-07C0.487808 1.20101e-07 0.62943 0.141677 0.62943 0.314837C0.62943 0.487997 0.487808 0.629674 0.314715 0.629674Z"
                          transform="translate(0.00293732 7.51672)" fill="white"/>
                    <path d="M19.6697 12.4833H0.314715C0.141622 12.4833 0 12.3416 0 12.1684V0.314837C0 0.141677 0.141622 1.20101e-07 0.314715 1.20101e-07C0.487808 1.20101e-07 0.62943 0.141677 0.62943 0.314837V11.8536H19.355V0.314837C19.355 0.141677 19.4966 1.20101e-07 19.6697 1.20101e-07C19.8428 1.20101e-07 19.9844 0.141677 19.9844 0.314837V12.1684C19.9844 12.3416 19.8428 12.4833 19.6697 12.4833Z"
                          transform="translate(0.00293732 7.51672)" fill="white"/>
                    <path d="M9.83082 7.82444C9.79935 7.82444 9.76788 7.80869 9.73641 7.79295L0.0589199 0.284099C-0.00402312 0.236873 -0.0197589 0.12668 0.0274484 0.0637129C0.0746557 0.000745529 0.184806 -0.0149958 0.247749 0.0322297L9.83082 7.46237L19.4139 0.0322297C19.4768 -0.0149958 19.587 -0.0149963 19.6342 0.0637129C19.6814 0.12668 19.6814 0.236873 19.6027 0.284099L9.92523 7.79295C9.89376 7.80869 9.86229 7.82444 9.83082 7.82444Z"
                          transform="translate(0.16497 7.67346)" fill="white"/>
                    <path d="M0.314715 0.629674C0.141622 0.629674 0 0.487997 0 0.314837C0 0.141677 0.141622 1.20101e-07 0.314715 1.20101e-07C0.487808 1.20101e-07 0.62943 0.141677 0.62943 0.314837C0.62943 0.487997 0.487808 0.629674 0.314715 0.629674Z"
                          transform="translate(0.00293732 7.51672)" fill="white"/>
                    <path d="M0.314715 0.629674C0.141622 0.629674 0 0.487997 0 0.314837C0 0.141677 0.141622 1.20101e-07 0.314715 1.20101e-07C0.487808 1.20101e-07 0.62943 0.141677 0.62943 0.314837C0.62943 0.487997 0.487808 0.629674 0.314715 0.629674Z"
                          transform="translate(19.3577 7.51672)" fill="white"/>
                    <path d="M19.673 8.1464C19.61 8.1464 19.5314 8.13066 19.4842 8.08343L9.9955 0.716254L0.506838 8.08343C0.365216 8.19362 0.176387 8.16214 0.0662368 8.02046C-0.0439135 7.87879 -0.012442 7.68989 0.12918 7.57969L9.80667 0.0708383C9.91682 -0.0236128 10.0742 -0.0236128 10.2001 0.0708383L19.8775 7.57969C20.0192 7.68989 20.0349 7.87879 19.9405 8.02046C19.8618 8.09917 19.7674 8.1464 19.673 8.1464Z"
                          fill="white"/>
                    <path d="M6.70343 9.91736C6.67196 9.91736 6.64049 9.90161 6.60902 9.88587L0.0629429 4.80126C0.0314714 4.76978 -6.00271e-08 4.72255 -6.00271e-08 4.67532V0.157419C-6.00271e-08 0.0629676 0.0629429 2.40201e-07 0.157357 2.40201e-07H13.2495C13.3439 2.40201e-07 13.4069 0.0629676 13.4069 0.157419V4.69107C13.4069 4.73829 13.3911 4.78552 13.3439 4.817L6.79784 9.88587C6.76637 9.90161 6.7349 9.91736 6.70343 9.91736ZM0.314715 4.59662L6.70343 9.55529L13.0921 4.59662V0.314837H0.314715V4.59662Z"
                          transform="translate(3.29267 5.58044)" fill="white"/>
                    <path d="M6.79784 6.94215C6.75064 6.94215 6.71917 6.92641 6.6877 6.89492L0.047207 0.267611C-0.015736 0.204644 -0.015736 0.110192 0.047207 0.047225C0.11015 -0.0157423 0.204565 -0.0157423 0.267508 0.047225L6.89226 6.67454C6.9552 6.7375 6.9552 6.83195 6.89226 6.89492C6.87652 6.92641 6.82932 6.94215 6.79784 6.94215Z"
                          transform="translate(12.8759 12.9005)" fill="white"/>
                    <path d="M0.157358 6.94215C0.11015 6.94215 0.0786787 6.92641 0.0472072 6.89492C-0.0157358 6.83195 -0.0157358 6.7375 0.0472072 6.67454L6.67196 0.047225C6.7349 -0.0157423 6.82932 -0.0157423 6.89226 0.047225C6.9552 0.110192 6.9552 0.204644 6.89226 0.267611L0.267508 6.89492C0.236036 6.92641 0.188829 6.94215 0.157358 6.94215Z"
                          transform="translate(0.161072 12.9005)" fill="white"/>
                    <path d="M7.80493 0.314837H0.157358C0.0629431 0.314837 1.20054e-07 0.251869 1.20054e-07 0.157418C1.20054e-07 0.0629673 0.0629431 0 0.157358 0H7.82067C7.91508 0 7.97803 0.0629673 7.97803 0.157418C7.96229 0.251869 7.89935 0.314837 7.80493 0.314837Z"
                          transform="translate(6.01429 7.87878)" fill="white"/>
                    <path d="M7.80493 0.314837H0.157358C0.0629431 0.314837 1.20054e-07 0.25187 1.20054e-07 0.157419C1.20054e-07 0.0629676 0.0629431 2.40201e-07 0.157358 2.40201e-07H7.82067C7.91508 2.40201e-07 7.97803 0.0629676 7.97803 0.157419C7.96229 0.236128 7.89935 0.314837 7.80493 0.314837Z"
                          transform="translate(6.01429 10.5392)" fill="white"/>
                </svg>
                <div class="contacts__frame-header">
                    <div class="contacts__frame-caption">
                        Телефон
                    </div>
                    <a class="contacts__frame-text" href="tel:+74993220932">
                        +7 (499) 322-09-32
                    </a>
                </div>
            </div>
            <div class="contacts__frame">
                <svg class="contacts__frame-icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 0C4.486 0 0 4.486 0 10C0 15.514 4.486 20 10 20C15.514 20 20 15.514 20 10C20 4.486 15.514 0 10 0ZM10 19.3333C4.85367 19.3333 0.666667 15.1463 0.666667 10C0.666667 4.85367 4.85367 0.666667 10 0.666667C15.1463 0.666667 19.3333 4.85367 19.3333 10C19.3333 15.1463 15.1463 19.3333 10 19.3333Z"
                          fill="white"/>
                    <path d="M4.33333 3.714V0.333333C4.33333 0.149 4.184 -9.6639e-08 4 -9.6639e-08C3.816 -9.6639e-08 3.66667 0.149 3.66667 0.333333V3.714C3.20033 3.83533 2.83533 4.20033 2.714 4.66667H0.333333C0.149333 4.66667 0 4.81567 0 5C0 5.18433 0.149333 5.33333 0.333333 5.33333H2.714C2.863 5.90667 3.38067 6.33333 4 6.33333C4.73533 6.33333 5.33333 5.73533 5.33333 5C5.33333 4.38033 4.90667 3.863 4.33333 3.714ZM4 5.66667C3.63233 5.66667 3.33333 5.36767 3.33333 5C3.33333 4.63233 3.63233 4.33333 4 4.33333C4.36767 4.33333 4.66667 4.63233 4.66667 5C4.66667 5.36767 4.36767 5.66667 4 5.66667Z"
                          transform="translate(6 4.95959)" fill="white"/>
                    <path d="M0.333333 1C0.517333 1 0.666667 0.851 0.666667 0.666667V0.333333C0.666667 0.149 0.517333 6.23067e-08 0.333333 6.23067e-08C0.149333 6.23067e-08 0 0.149 0 0.333333V0.666667C0 0.851 0.149333 1 0.333333 1Z"
                          transform="translate(9.66666 2.29297)" fill="white"/>
                    <path d="M0.333333 5.39144e-07C0.149333 5.39144e-07 0 0.149001 0 0.333334V0.666667C0 0.851001 0.149333 1 0.333333 1C0.517333 1 0.666667 0.851001 0.666667 0.666667V0.333334C0.666667 0.149001 0.517333 5.39144e-07 0.333333 5.39144e-07Z"
                          transform="translate(9.66666 16.6263)" fill="white"/>
                    <path d="M0.666667 -9.6639e-08H0.333333C0.149333 -9.6639e-08 0 0.149 0 0.333333C0 0.517667 0.149333 0.666667 0.333333 0.666667H0.666667C0.850667 0.666667 1 0.517667 1 0.333333C1 0.149 0.850667 -9.6639e-08 0.666667 -9.6639e-08Z"
                          transform="translate(16.6667 9.62634)" fill="white"/>
                    <path d="M0.666667 -9.6639e-08H0.333333C0.149333 -9.6639e-08 0 0.149 0 0.333333C0 0.517667 0.149333 0.666667 0.333333 0.666667H0.666667C0.850667 0.666667 1 0.517667 1 0.333333C1 0.149 0.850667 -9.6639e-08 0.666667 -9.6639e-08Z"
                          transform="translate(2.33334 9.62634)" fill="white"/>
                    <path d="M0.333416 0.097625L0.0977494 0.333292C-0.0325839 0.463625 -0.0325839 0.674292 0.0977494 0.804625C0.162749 0.869625 0.248083 0.902291 0.333416 0.902291C0.41875 0.902291 0.504083 0.869625 0.569083 0.804625L0.80475 0.568959C0.935083 0.438625 0.935083 0.227958 0.80475 0.097625C0.674417 -0.0327084 0.46375 -0.032375 0.333416 0.097625Z"
                          transform="translate(14.6163 4.4408)" fill="white"/>
                    <path d="M0.333417 0.097625L0.0977502 0.333292C-0.0325832 0.463625 -0.0325832 0.674291 0.0977502 0.804624C0.16275 0.869624 0.248083 0.902292 0.333417 0.902292C0.41875 0.902292 0.504083 0.869624 0.569083 0.804624L0.80475 0.568959C0.935083 0.438626 0.935083 0.227958 0.80475 0.097625C0.674417 -0.0327083 0.463417 -0.032375 0.333417 0.097625Z"
                          transform="translate(4.48124 14.576)" fill="white"/>
                    <path d="M0.569083 0.09775C0.43875 -0.0325834 0.228083 -0.0325834 0.0977494 0.09775C-0.0325839 0.228083 -0.0325839 0.43875 0.0977494 0.569084L0.333416 0.804749C0.398416 0.869749 0.48375 0.902417 0.569083 0.902417C0.654417 0.902417 0.73975 0.869749 0.80475 0.804749C0.935083 0.674416 0.935083 0.46375 0.80475 0.333417L0.569083 0.09775Z"
                          transform="translate(14.6163 14.5758)" fill="white"/>
                    <path d="M0.569083 0.0977499C0.43875 -0.0325834 0.228083 -0.0325834 0.0977502 0.0977499C-0.0325832 0.228083 -0.0325832 0.43875 0.0977502 0.569083L0.333417 0.80475C0.398417 0.86975 0.48375 0.902416 0.569083 0.902416C0.654417 0.902416 0.73975 0.86975 0.80475 0.80475C0.935083 0.674417 0.935083 0.46375 0.80475 0.333416L0.569083 0.0977499Z"
                          transform="translate(4.48124 4.44055)" fill="white"/>
                </svg>
                <div class="contacts__frame-header">
                    <h3 class="contacts__frame-caption">
                        Время работы
                    </h3>
                    <p class="contacts__frame-text">
                        Пн-Пт: 9:00 - 20:00
                        <br> Сб-Вс: 10:00 - 18:00
                    </p>
                </div>
            </div>
        </div>

        <form action="#" class="contacts-flexbox__item--large">
            <div class="flexbox">
                <div class="form__item form__item--input">
                    <input type="text" id="submit__name" name="submit__name" class="contacts__input" placeholder="Ваше имя">
                </div>
                <div class="form__item form__item--input">
                    <input type="text" id="submit__phone" name="submit__phone" class="contacts__input" placeholder="+7 (000) 000-00-00">
                </div>
            </div>

            <div class="form__item form__item--area">
                <textarea name="submit__message" class="contacts__input" id="submit__message"
                          placeholder="Ваше сообщение"></textarea>
            </div>
            <div class="form__item">
                <!--<input type="submit" value="заказать" class="btn btn&#45;&#45;primary">-->
                <button class="btn btn--primary"  id="validAndSend">
                    заказать
                </button>
            </div>

        </form>
    </div>
    <div class="contacts__success " id="success-block">
        Ваше сообщение получено
    </div>
</section>