<footer class="footer container">
    <div class="footer__flexbox">
        <div class="footer__logo">
            тортел
            <!--<svg viewBox="0 0 210 297">-->
                <!--<path id="curve" fill="transparent" d="M 53.643694,90.668378 C 86.848719,80.315877 132.57711,88.270497 133.83143,90.315919 l 1.51297,0.352459" />-->
                <!--<text width="200">-->
                    <!--<textPath xlink:href="#curve">-->
                        <!--Dangerous Curves Ahead-->
                    <!--</textPath>-->
                <!--</text>-->
            <!--</svg>-->
        </div>
        <div >
            <a href="tel:74993220932" class="footer__phone">+7 (499) 322 09 32</a>

        </div>
    </div>
</footer>