<section class="intro container">
    <div class="intro__item">
        <h3 class="intro__caption intro__text--light">
            Торты на заказ на
            <span class="intro__spn intro__spn--primary">Лубянке</span>
        </h3>
        <p class="intro__text intro__text--light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non ligula mauris. Ut gravida justo tincidunt enim suscipit dignissim
            non in lectus.
        </p>
        <button class="btn btn--primary">
            <span class="btn__text">заказать</span>
        </button>
        <!--<button value="заказать" class="btn btn&#45;&#45;primary">-->
    </div>

    <div class="intro__icon">
        <a href="tel:+74993220932">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" >
                <g filter="url(#filter0_d)">
                    <path class="phone" d="M6.66 6.65557C6.60946 6.73326 6.60946 6.81095 6.5842 6.91454C6.55893 7.25121 6.8116 7.56197 7.14008 7.58787C7.46856 7.61377 7.77177 7.35479 7.79704 7.01813C7.79704 6.94044 7.79704 6.86275 7.82231 6.73326C7.82231 6.60378 7.82231 6.52609 7.82231 6.44839C7.82231 5.69738 7.69597 4.97226 7.46856 4.27303C7.16535 3.36663 6.63473 2.56382 6.00304 1.89049C5.21975 1.08768 4.25958 0.517944 3.17308 0.207178C2.66773 0.0776917 2.11184 -1.06693e-07 1.58122 -1.06693e-07C1.40435 -1.06693e-07 1.22748 -7.71796e-09 1.02534 0.0258972C0.848464 0.0517943 0.671591 0.0776913 0.494718 0.103588C0.16624 0.155383 -0.0611674 0.492046 0.0146352 0.802812C0.0651703 1.13948 0.393648 1.37255 0.696858 1.29486C0.848463 1.26896 0.974801 1.24306 1.12641 1.24306C1.15167 1.24306 1.17694 1.24306 1.20221 1.24306C1.32855 1.24306 1.45488 1.21717 1.58122 1.21717C2.97094 1.21717 4.25958 1.7869 5.16921 2.7451C6.07885 3.6774 6.63473 4.94636 6.66 6.3707V6.4225C6.66 6.52609 6.66 6.60378 6.66 6.65557Z"
                          transform="translate(11.3048 6.99225)" fill="" />
                    <path class="phone" d="M10.6017 10.6696C10.5765 11.0063 10.8291 11.3171 11.1576 11.343C11.4861 11.3689 11.7893 11.1099 11.8146 10.7732C11.8398 10.4884 11.8398 10.2035 11.8398 9.91861C11.8398 9.34888 11.7893 8.80504 11.7135 8.2612C11.385 6.18942 10.3996 4.32483 9.00988 2.90048C7.41802 1.26896 5.29555 0.207177 2.94567 0.0258971C2.69299 -5.78847e-08 2.41505 9.08867e-08 2.16238 9.08867e-08C1.88443 9.08867e-08 1.60649 -5.78847e-08 1.32855 0.0258971C1.0506 0.0517943 0.772661 0.0776916 0.494718 0.129486C0.16624 0.18128 -0.0611678 0.517943 0.0146348 0.828709C0.0651699 1.16537 0.393648 1.39845 0.696859 1.32076C0.873731 1.29486 1.02534 1.26896 1.20221 1.24306C1.27801 1.24306 1.35381 1.21717 1.42962 1.21717C1.68229 1.19127 1.93497 1.19127 2.16238 1.19127C3.02147 1.19127 3.83003 1.32076 4.61333 1.55383C5.97777 1.96818 7.19062 2.7192 8.17605 3.72919C8.98461 4.5579 9.64157 5.56789 10.0711 6.65557C10.4501 7.63966 10.6775 8.72734 10.6775 9.86682C10.6775 9.94451 10.6775 10.0481 10.6775 10.1258C10.627 10.333 10.6017 10.4884 10.6017 10.6696Z"
                          transform="translate(10.6984 3.54794)" fill="" />
                    <path class="phone" d="M12.0925 3.96227C9.6921 1.50204 6.40732 -1.40776e-08 2.7688 -1.40776e-08C2.38978 -1.40776e-08 2.01077 0.0258972 1.63176 0.0517943C1.25274 0.0776915 0.873732 0.129486 0.494718 0.207177C0.16624 0.258972 -0.0611678 0.595635 0.0146348 0.906401C0.0651699 1.24306 0.393648 1.47614 0.696859 1.39845C0.873731 1.37255 1.02534 1.34665 1.20221 1.32076C1.37908 1.29486 1.55595 1.26896 1.73283 1.26896C2.08657 1.24306 2.41505 1.21717 2.7688 1.21717C6.05358 1.21717 9.03515 2.58972 11.2082 4.79098C13.3559 6.99223 14.6951 10.0481 14.6951 13.4406C14.6951 13.6219 14.6951 13.8291 14.6951 14.0104C14.6951 14.1657 14.6698 14.3211 14.6698 14.5024C14.6445 14.8391 14.8972 15.1498 15.2257 15.1757C15.5542 15.2016 15.8574 14.9427 15.8827 14.606C15.9079 14.2175 15.9332 13.8291 15.9332 13.4665C15.9332 9.76323 14.4677 6.3966 12.0925 3.96227Z"
                          transform="translate(10.0667)" fill="white" />
                    <path class="phone" d="M25.0651 18.7317L20.5927 16.2714C19.102 15.4427 19.0514 15.9866 17.4848 17.6958C17.1058 18.1101 16.3983 19.1978 15.5645 18.9906C13.821 18.5504 10.5615 15.9348 9.50029 14.7435C8.99494 14.1738 6.82194 11.4546 6.79667 10.574C6.74613 9.2274 9.62663 8.55407 8.69173 5.99025L6.6956 1.40645C4.8258 -2.99606 -0.404582 4.04796 0.0249664 7.3369C1.13674 15.4427 15.0086 28.5467 22.7405 24.2219C24.4587 23.2378 26.7833 19.7934 25.0651 18.7317Z"
                          transform="translate(-0.00012207 0.924316)" fill="" />
                </g>
                <defs>
                    <filter id="filter0_d" x="-0.00012207" y="3.05176e-05" width="30" height="30" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 255 0" />
                        <feOffset dx="2" dy="2" />
                        <feGaussianBlur stdDeviation="1" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                </defs>
            </svg>
        </a>

    </div>

</section>