<section class="navbar container">
    <div class="navbar__container">
        <button class="burger__btn burger__btn--secondary" id="navbar__btn" onclick="toggleNav()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
            <ul class="navbar__nav navbar__nav--light">
                    <li class="navbar__item"><a href="#" class="navbar__link navbar__link--light">Главная</a></li>
                    <li class="navbar__item"><a href="#" class="navbar__link navbar__link--light">Начинки</a></li>
                    <li class="navbar__item"><a href="#" class="navbar__link navbar__link--light">Доставка</a></li>
                    <li class="navbar__item"><a href="#" class="navbar__link navbar__link--light">Частые вопросы</a></li>
                    <!--<li class=navbar__item><a href="#" class="navbar__item navbar__item&#45;&#45;light">Частые вопросы</a></li>-->
                    <li class="navbar__item"><a href="#" class="navbar__link navbar__link--light">Акции</a></li>
                    <li class="navbar__item"><a href="#" class="navbar__link navbar__link--light">Контакты</a></li>
                </ul>
    </div>
    <span class="line line__dashed line--top"></span>
    <span class="line line__dashed line--bottom"></span>
    <a href="#" class="navbar__badge"><img src="img/logo.png" alt="logo" class="navbar__logo"></a>
</section>