<section class="poster container">
        <div class="poster__header">
            <h3 class="poster__caption">Популярные торты</h3>
        </div>
        <div class="poster__grid poster__grid--main">
            <div class="grid__item">
                <div class="poster__header poster__header--grid">
                    <img src="./img/placeholder0.png" alt="placeholder0" class="poster__img">
                    <h3 class="poster__caption poster__caption--grid poster__text--light"> Название торта</h3>
                </div>
            </div>
            <div class="poster__grid poster__grid--half">
                <div class="grid__item">
                        <div class="poster__header poster__header--grid">
                            <img src="./img/placeholder1.png" alt="placeholder0" class="poster__img">
                            <h3 class="poster__caption poster__caption--grid poster__text--light"> Название торта</h3>
                        </div>
                </div>
                <div class="grid__item">
                        <div class="poster__header poster__header--grid">
                            <img src="./img/placeholder2.png" alt="placeholder0" class="poster__img">
                            <h3 class="poster__caption poster__caption--grid poster__text--light"> Название торта</h3>
                        </div>
                </div>
                <div class="grid__item">
                        <div class="poster__header poster__header--grid">
                            <img src="./img/placeholder3.png" alt="placeholder0" class="poster__img">
                            <h3 class="poster__caption poster__caption--grid poster__text--light"> Название торта</h3>
                        </div>
                </div>
                <div class="grid__item">
                        <div class="poster__header poster__header--grid">
                            <img src="./img/placeholder4.png" alt="placeholder0" class="poster__img">
                            <h3 class="poster__caption poster__caption--grid poster__text--light"> Название торта</h3>
                        </div>
                </div>
            </div>
        </div>
</section>