<!--================================
=            INPUT MASK            =
=================================-->

<script src='js/imask.min.js'></script>
<script>
    // 	INFO
    //	https://unmanner.github.io/imaskjs/#examples
</script>

<!--====  End of INPUT MASK  ====-->


<!--================================
=            ANIMATIONS            =
=================================-->

<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
    // INFO
    // https://github.com/michalsnik/aos


    // AOS.init({
    //      duration: 400,
    //      delay: 200,
    //    });
</script>

<!--====  End of ANIMATIONS  ====-->

<!--==== Font awesome  ====-->


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


<!--============================
=            SLIDER            =
=============================-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.0/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.0/js/swiper.min.js"></script>

<script>

    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 5,
        spaceBetween: 33,
        centeredSlides: true,
        initialSlide: 2,
        effect: 'slide',
        touchEventsTarget: 'container',
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
            clickable: true,
        },
        breakpoints: {
            1650: {
                slidesPerView: 4
            },
            1440: {
                slidesPerView: 3
            },
            1000: {
                slidesPerView: 2
            },
            640: {
                slidesPerView: 1
            }
            //   400: {
            // 	// slidesOffsetBefore: 20
            //   }
        }
    });
    window.addEventListener("resize", resetClasses);
    var navbtn = document.getElementById("navbar__btn");
    var headbtn = document.getElementById("header__btn");
    var nav = document.getElementsByClassName("navbar__item");
    var headnav = document.getElementsByClassName("header__item");
    // navbtn.onclick(function () {
    //     if (nav.style.display != "none") {
    //         nav.style.display = "none";
    //     } else {
    //         nav.style.display = "flex";
    //     }
    // })
    function resetClasses() {

        if (this.innerWidth > 768) {
            let openEls = document.getElementsByClassName("open");
            let responsiveEls = document.getElementsByClassName("responsive");
            if (openEls.length > 0) {
                for (let i = 0; i < openEls.length; i++) {
                    openEls[i].classList.remove("open");
                }
            }
            if (responsiveEls.length > 0) {
                for (let i = 0; i < responsiveEls.length; i++) {
                    responsiveEls[i].classList.remove("responsive");
                }
            }

            // console.log(document.getElementsByClassName("open"));
            // console.log(document.getElementsByClassName("responsive"));
            return true;
        }
    }
    function toggleHead() {
        headbtn.classList.toggle("open");
        // console.log(this);
        for (var i = 0; i < headnav.length; i++) {
            headnav[i].classList.toggle("responsive");
        }
    }

    function toggleNav() {
        // console.log(nav);
        navbtn.classList.toggle("open");
        for (var i = 0; i < nav.length; i++) {
            nav[i].classList.toggle("responsive");
        }
    }
</script>

<!--====  End of SLIDER  ====-->

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<!--==================================
=            SENDING FORM            =
===================================-->

<script async>
    function sendForm(idName, idPhone, idInfo) {
        let name = document.getElementById(idName).value;
        let phone = document.getElementById(idPhone).value;
        let info = document.getElementById(idInfo).dataset.info;
        console.log(name, phone, info);

        if (name.length == 0) {
            document.getElementById(idName).classList.add('error');
        } else {
            document.getElementById(idName).classList.remove('error');
        }

        if (phone.length == 0) {
            document.getElementById(idPhone).classList.add('error');
        } else {
            document.getElementById(idPhone).classList.remove('error');
        }

        if (name.length != 0 && phone.length != 0) {

            var data = {
                name: name,
                phone: phone,
                info: info
            };

            var boundary = String(Math.random()).slice(2);
            var boundaryMiddle = '--' + boundary + '\r\n';
            var boundaryLast = '--' + boundary + '--\r\n'

            var body = ['\r\n'];
            for (var key in data) {
                // добавление поля
                body.push('Content-Disposition: form-data; name="' + key + '"\r\n\r\n' + data[key] + '\r\n');
            }

            body = body.join(boundaryMiddle) + boundaryLast;

            // Тело запроса готово, отправляем
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/form.php', true);

            xhr.setRequestHeader('Content-Type', 'multipart/form-data; boundary=' + boundary);

            xhr.onreadystatechange = function () {
                if (this.readyState != 4) return;

                document.getElementById(idName).value = "";
                document.getElementById(idPhone).value = "";
                document.getElementById(idName).classList.remove('error');
                document.getElementById(idPhone).classList.remove('error');
                leadPopupEvent.close();
                document.getElementById('success-block').classList.add('show');
                setTimeout(function () {
                    document.getElementById('success-block').classList.remove('show');
                }, 5000);


            }

            xhr.send(body);
        }
    }

    // document.getElementById('validAndSend').addEventListener(
    //     'click', validAndSend, false
    // );
    // function validAndSend(evt) {
    //     evt.preventDefault();
    //     let nameEl = document.getElementById("submit_name");
    //     let phoneEl = document.getElementById("submit_phone");
    //     let messageEL = document.getElementById("submit__message");
    //
    //     if (nameEl.value.length < 1) {
    //         nameEl.classList.add("form__item--error");
    //     } else {
    //         nameEl.classList.remove("form__item--error");
    //     }
    //
    //     if (phoneEl.value.length < 1) {
    //         phoneEl.classList.add("form__item--error");
    //     } else {
    //         phoneEl.classList.remove("form__item--error");
    //     }
    //
    //     if ((nameEl.value.length > 0) && (phoneEl.value.length) > 0) {
    //         let data = {
    //             name: nameEl.value,
    //             phone: phoneEl.value,
    //             message: messageEL.value
    //         }
    //
    //         let xhr = new XMLHttpRequest();
    //         xhr.open('POST', './send', true);
    //         xhr.onreadystatechange = function() {
    //             if (this.readyState != 4) return;
    //             phoneEl.value = "";
    //             nameEl.value = "";
    //             messageEL.value = "";
    //             phoneEl.classList.remove("error");
    //             nameEl.classList.remove("error");
    //             document.getElementById('success-block').classList.add('contacts__success--show');
    //             setTimeout(function () {
    //                 document.getElementById('success-block').classList.remove('contacts__success--show');
    //             }, 5000);
    //         }
    //         xhr.send(data);
    //         console.log(data);
    //     }
    // }

</script>
<script>
    $(function() {
        $("#validAndSend").on('click',(function(e) {

            e.preventDefault();
            // let email = $(this).find('.email');
            // let label = $(this).find('.callback-home__label');
            let name = $('#submit__name');
            let phone = $('#submit__phone');
            let message = $('#submit__message');


            if (name.val().length < 1) {
                name.addClass('form__item--error');
            } else {
                name.removeClass('form__item--error');
            }

            if (phone.val().length < 1) {
                phone.addClass('form__item--error');
            } else {
                phone.removeClass('form__item--error');
            }
            // let emailVal = email.val();
            // let form_data = {'Mail': emailVal};
            let form_data = {
                name: name.val(),
                phone: phone.val(),
                message: message.val()
            }
            console.log(form_data);
            if ($('.form__item--error').length < 1) {
                $.ajax({
                    type: "POST",
                    url: "/send.php",
                    data: form_data,
                    success: function (data) {
                        console.log(data);
                        name.val('');
                        phone.val('');
                        message.val('');

                        // callbackHome.close()
                    }
                });
            }
            // email.removeClass('callback-home__input--error');
            // label.removeClass('callback-home__label--error');
            // if(emailVal.length === 0) {
            //     email.addClass('callback-home__input--error');
            //     label.addClass('callback-home__label--error');
            // }else {
            //
            // }
        }));
    });
</script>
<!--====  End of SENDING FORM  ====-->
<!-- <script src="../js/slider.js"></script> -->
