section {
    // padding-top: 25px;
    // padding-bottom: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: table;
}

button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    transition: all .3s;
    border: none;
}

h1,h2,h3, h4, p {
    margin: 0;
}
a:hover, a:active {
    color: $link-color;
}