@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400i,600,600italic,700,700italic,800,800italic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&amp;subset=cyrillic');
body {
	font-family: 'Roboto', 'Open Sans';
	font-size: 16px;
	color: #333;
	background-color: #FFF;
	line-height: 1.735;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
	line-height: 1.2;
}

h1 {
	font-size: 5.06em;
	font-weight: 300;
	margin-top: 0.53em;
	margin-bottom: 0.53em;
	text-transform: uppercase;
}

h2 {
	font-size: 3.33em;
	font-weight: 300;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h3 {
	font-size: 2.25em;
	font-weight: 800;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h4 {
	font-size: 1.5em;
	font-weight: 800;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

h5 {
	font-size: 1.06em;
	font-weight: 700;
	margin-top: 0.94em;
	margin-bottom: 0.94em;
}

h6 {
	font-size: 1em;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 1em;
}

p {
	margin-top: 1em;
	margin-bottom: 1.5em;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

a {
	color: #790cf4;
	text-decoration: none;
}

a:hover {
	color: #75dc95;
}

ul,ol {
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding-left: 1.1em;
}

li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
